## **Pandas Essencial**
**Prof. Dr. Samuel Martins (@hisamuka @xavecoding)** <br/>
xavecoding: https://youtube.com/c/xavecoding <br/>

Neste tutorial, vamos aprender o essencial da biblioteca _Pandas_ para manipulação de dados.<br/><br/>

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.

### Pacotes usados neste Notebook

In [1]:
# importação de pacotes para este notebook
import pandas as pd

<h1>Manipulação de Dados com Pandas</h1><hr/>

<h2>1. Manipulação Básica de Datasets</h2>
<hr/>

**Dataset**: Gas Prices in Brazil: https://www.kaggle.com/matheusfreitag/gas-prices-in-brazil <br/>

Este dataset contém os **registros dos preços médios semanais dos combustíveis do Brasil entre os anos de 2004 e 2019**. <br/>
Cada *amostra (registro/linha)* consiste em um registro de preço aferido para um dado tipo de combustível em uma dada localidade do Brasil. <br/>
Alguns dos principais *atributos* (colunas) do dataset são: 'ESTADO', 'PRODUTO', 'NÚMERO DE POSTOS PESQUISADOS', 'PREÇO MÉDIO REVENDA'.


\* O arquivo disponibilizado no Kaggle está no formato *tsv*. Embora o _pandas_ consiga abrí-lo normalmente, convertemos tal arquivo para o formato *CSV*, que é um dos formatos mais utilizados, e mudamos seu separado para ';' apenas para mostrar algumas opções da função de carregamento.

### 1.1. Importando o Dataset
Para carregar um dataset no formato csv, basta utilizar a função `read_csv` do pandas. Por padrão, ela considera _','_ como separador.

In [2]:
data = pd.read_csv('./datasets/GasPricesinBrazil_2004-2019.csv')

In [3]:
data

       Unnamed: 0;DATA INICIAL;DATA FINAL;REGIÃO;ESTADO;PRODUTO;NÚMERO DE POSTOS PESQUISADOS;UNIDADE DE MEDIDA;PREÇO MÉDIO REVENDA;DESVIO PADRÃO REVENDA;PREÇO MÍNIMO REVENDA;PREÇO MÁXIMO REVENDA;MARGEM MÉDIA REVENDA;COEF DE VARIAÇÃO REVENDA;PREÇO MÉDIO DISTRIBUIÇÃO;DESVIO PADRÃO DISTRIBUIÇÃO;PREÇO MÍNIMO DISTRIBUIÇÃO;PREÇO MÁXIMO DISTRIBUIÇÃO;COEF DE VARIAÇÃO DISTRIBUIÇÃO;MÊS;ANO
0       0;2004-05-09;2004-05-15;CENTRO OESTE;DISTRITO ...
1       1;2004-05-09;2004-05-15;CENTRO OESTE;GOIAS;ETA...
2       2;2004-05-09;2004-05-15;CENTRO OESTE;MATO GROS...
3       3;2004-05-09;2004-05-15;CENTRO OESTE;MATO GROS...
4       4;2004-05-09;2004-05-15;NORDESTE;ALAGOAS;ETANO...
...                                                   ...
106818  106818;2019-06-23;2019-06-29;NORDESTE;RIO GRAN...
106819  106819;2019-06-23;2019-06-29;SUL;RIO GRANDE DO...
106820  106820;2019-06-23;2019-06-29;SUL;SANTA CATARIN...
106821  106821;2019-06-23;2019-06-29;SUDESTE;SAO PAULO...
106822  106822;2019-06-23;2019-06-29;NORDESTE;SERGIPE;...

[106823 rows x 1 columns]

O dataset não foi carregado corretamente pois o separador utilizado seu arquivo CSV era ';' e não a ','. <br/>
Vamos então carregá-lo corretamente:

In [4]:
data = pd.read_csv('./datasets/GasPricesinBrazil_2004-2019.csv', sep=';')

In [5]:
data

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,...,3.690,0.818,0.018,2.756,0,2.756,2.756,0,6,2019
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,...,3.789,0.95,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,...,3.499,0.914,0.065,1.998,0,1.9981,1.9981,0,6,2019
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,...,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,...,3.699,1.179,0.001,2.518,0,2.5175,2.5175,0,6,2019

## MOSTRANDO ÍNDICES ESPECIFICADOS, QUE NO EXEMPLO ABAIXO (4 AO 18)

In [6]:
data.loc[4:18]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004
5,5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,...,2.050,0.426,0.095,0.957,0.128,0.5686,1.35,0.134,5,2004
6,6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,...,1.950,0.353,0.150,1.1,0.068,0.7332,1.294,0.062,5,2004
7,7,2004-05-09,2004-05-15,NORDESTE,MARANHAO,ETANOL HIDRATADO,105,R$/l,1.631,0.158,...,2.000,0.515,0.097,1.116,0.091,0.9923,1.36183,0.082,5,2004
8,8,2004-05-09,2004-05-15,NORDESTE,PARAIBA,ETANOL HIDRATADO,125,R$/l,1.284,0.130,...,1.699,0.353,0.101,0.931,0.072,0.7577,1.2972,0.077,5,2004
9,9,2004-05-09,2004-05-15,NORDESTE,PERNAMBUCO,ETANOL HIDRATADO,423,R$/l,1.224,0.141,...,1.700,0.277,0.115,0.947,0.091,0.5643,1.3541,0.096,5,2004
10,10,2004-05-09,2004-05-15,NORDESTE,PIAUI,ETANOL HIDRATADO,89,R$/l,1.573,0.134,...,1.780,0.494,0.085,1.079,0.078,0.8857,1.2499,0.072,5,2004
11,11,2004-05-09,2004-05-15,NORDESTE,RIO GRANDE DO NORTE,ETANOL HIDRATADO,131,R$/l,1.276,0.116,...,1.590,0.332,0.091,0.944,0.078,0.7119,1.1386,0.083,5,2004
12,12,2004-05-09,2004-05-15,NORDESTE,SERGIPE,ETANOL HIDRATADO,57,R$/l,1.301,0.109,...,1.750,0.321,0.084,0.98,0.052,0.8267,1.1059,0.053,5,2004
13,13,2004-05-09,2004-05-15,NORTE,ACRE,ETANOL HIDRATADO,33,R$/l,1.805,0.134,...,1.980,0.689,0.074,1.116,0.171,0.767,1.2992,0.153,5,2004
14,14,2004-05-09,2004-05-15,NORTE,AMAPA,ETANOL HIDRATADO,15,R$/l,1.785,0.035,...,1.850,0.412,0.020,1.373,0.167,0.8339,1.4912,0.122,5,2004
15,15,2004-05-09,2004-05-15,NORTE,AMAZONAS,ETANOL HIDRATADO,53,R$/l,1.578,0.123,...,1.850,0.441,0.078,1.137,0.068,0.9515,1.2109,0.06,5,2004
16,16,2004-05-09,2004-05-15,NORTE,PARA,ETANOL HIDRATADO,104,R$/l,1.914,0.246,...,2.400,0.536,0.129,1.378,0.237,0.7564,1.8908,0.172,5,2004
17,17,2004-05-09,2004-05-15,NORTE,RONDONIA,ETANOL HIDRATADO,97,R$/l,1.545,0.141,...,1.990,0.533,0.091,1.012,0.149,0.52,1.3306,0.147,5,2004
18,18,2004-05-09,2004-05-15,NORTE,RORAIMA,ETANOL HIDRATADO,14,R$/l,1.300,0.000,...,1.300,0.202,0.000,1.098,0.096,0.9798,1.3577,0.087,5,2004

### 1.2. Exibindo as primeiras linhas do Dataset
A função `.head()` exibe as 5 primeiras linhas do dataset/tabela/Data Frame.

In [7]:
# lendo os primeiros elementos do dataframe.

n = 6
data.head(n)

# "n" dentro de "()" informa o tanto de elementos a serem exibidos, que no caso será o valor de "n".

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004
5,5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,...,2.050,0.426,0.095,0.957,0.128,0.5686,1.35,0.134,5,2004

In [8]:
# lendo agora os últimos elementos do dataframe

n = 4
data.tail(n)

# "n" dentro de "()" informa o tanto de elementos a serem exibidos, que no caso será o valor de "n".

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,...,3.789,0.95,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,...,3.499,0.914,0.065,1.998,0,1.9981,1.9981,0,6,2019
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,...,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,...,3.699,1.179,0.001,2.518,0,2.5175,2.5175,0,6,2019

### 1.3 Informações do Dataset e Elementos Chave

### 1.3.1 Informações gerais sobre o Dataset

In [9]:
# exibindo informações sobre o dataframe

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     106823 non-null  int64
 1   DATA INICIAL                   106823 non-null  object
 2   DATA FINAL                     106823 non-null  object
 3   REGIÃO                         106823 non-null  object
 4   ESTADO                         106823 non-null  object
 5   PRODUTO                        106823 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 7   UNIDADE DE MEDIDA              106823 non-null  object
 8   PREÇO MÉDIO REVENDA            106823 non-null  float64
 9   DESVIO PADRÃO REVENDA          106823 non-null  float64
 10  PREÇO MÍNIMO REVENDA           106823 non-null  float64
 11  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 12  MARGEM MÉDIA REVENDA           106823 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       106823 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     106823 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      106823 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      106823 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  106823 non-null  object
 19  MÊS                            106823 non-null  int64
 20  ANO                            106823 non-null  int64
dtypes: float64(5), int64(4), object(12)
memory usage: 17.1+ MB

A primeira coluna da tabela, chamada _'Unnamed: 0'_, parece não significar nada. Na verdade, ela parece ser os **índices** da tabela, que foram salvos como uma _coluna_.<br/>
Veremos jajá como **remover tal coluna**.

Outro ponto é que, aparentemente, nenhum atributo/coluna possui valores nulos (_null_), uma vez que o número de registros do dataframe e os números de valores _non-null_ é de **106823**. <br/>
Mas, veremos que não é bem assim para esse caso.

### 1.3.2 Data Frame
Todo dataset carregado (dados estruturados) é um `Data Frame`: 'Tabela' bi-dimensional, de tamanho mutável, com dados potencialmente heterogêneos. <br/>

In [10]:
type(data)

pandas.core.frame.DataFrame

Podemos acessar as **dimensões do Data Frame** (número de linhas x número de colunas) utilizando o atributo `.shape` do Data Frame.

In [11]:
data.shape

(106823, 21)

In [12]:
# ou melhor...

print(f'Linhas: {data.shape[0]}\nColunas: {data.shape[1]}')

Linhas: 106823
Colunas: 21

#### **Criando um DataFrame**

Podemos criar um DataFrame a partir de um _dicionário_, onde cada **chave** possui uma **lista de elementos de igual tamanho**.<br/>
As **chaves** representam as **colunas** e **cada um dos valores de sua lista** representa o **valor da linha** correspondente para aquela coluna.

In [13]:
alunos_df = pd.DataFrame({
    'nome': ['Luke Skywalker', 'Yoda', 'Palpatine'],
    'idade': [16, 1000, 70],
    'peso': [70, 15, 60],
    'eh jedi': [True, True, False]  # o nome das colunas podem ter espaços
})

In [14]:
alunos_df

             nome  idade  peso  eh jedi
0  Luke Skywalker     16    70     True
1            Yoda   1000    15     True
2       Palpatine     70    60    False

In [15]:
alunos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nome     3 non-null      object
 1   idade    3 non-null      int64
 2   peso     3 non-null      int64
 3   eh jedi  3 non-null      bool
dtypes: bool(1), int64(2), object(1)
memory usage: 203.0+ bytes

#### **VEJA MAIS**
Criando um Data Frame a partir de um dicionário: https://www.geeksforgeeks.org/how-to-create-dataframe-from-dictionary-in-python-pandas/

#### **Renomeando as colunas de um DataFrame**
**===>** O atributo `DataFrame.columns` retorna uma ";lista" com os **nomes de todas as colunas** do data frame.

In [16]:
alunos_df.columns

Index(['nome', 'idade', 'peso', 'eh jedi'], dtype='object')

In [17]:
type(alunos_df.columns)

pandas.core.indexes.base.Index

In [18]:
list(alunos_df.columns)

['nome', 'idade', 'peso', 'eh jedi']

<br/>

**===>** Para **renomear colunas** do data frame, utilize o método `DataFrame.rename`, que retorna uma _cópia_ do data frame com as as colunas renomeadas:

In [19]:
alunos_df

             nome  idade  peso  eh jedi
0  Luke Skywalker     16    70     True
1            Yoda   1000    15     True
2       Palpatine     70    60    False

In [20]:
alunos_df_rename = alunos_df.rename(columns={
    'nome': 'Nome completo',
    'idade': 'Idade'
})

In [21]:
alunos_df_rename.columns

Index(['Nome completo', 'Idade', 'peso', 'eh jedi'], dtype='object')

In [22]:
# dataframe com as colunas com nome original

alunos_df

             nome  idade  peso  eh jedi
0  Luke Skywalker     16    70     True
1            Yoda   1000    15     True
2       Palpatine     70    60    False

Para renomear o _próprio_ data frame em questão, utilize o parâmetro `inplace=True`:

In [23]:
alunos_df.rename(columns={'nome': 'Nome completo', 'idade': 'Idade'}, inplace=True)

In [24]:
alunos_df

    Nome completo  Idade  peso  eh jedi
0  Luke Skywalker     16    70     True
1            Yoda   1000    15     True
2       Palpatine     70    60    False

<br/>

**===>** Uma outra forma de **renomear todas as listas** de um data frame é passar uma _lista_ com os novos nomes das colunas para o atributo `DataFrame.columns`:

In [25]:
alunos_df.columns = ['NOME', 'IDADE', 'PESO', 'NERD']

In [26]:
alunos_df.columns

Index(['NOME', 'IDADE', 'PESO', 'NERD'], dtype='object')

In [27]:
alunos_df

             NOME  IDADE  PESO   NERD
0  Luke Skywalker     16    70   True
1            Yoda   1000    15   True
2       Palpatine     70    60  False

### 1.3.3 Series

Array uni-dimensional com os dados e rótulos de um eixo.

In [28]:
data['ESTADO']

0            DISTRITO FEDERAL
1                       GOIAS
2                 MATO GROSSO
3          MATO GROSSO DO SUL
4                     ALAGOAS
                 ...
106818    RIO GRANDE DO NORTE
106819      RIO GRANDE DO SUL
106820         SANTA CATARINA
106821              SAO PAULO
106822                SERGIPE
Name: ESTADO, Length: 106823, dtype: object

In [29]:
data.iloc[106821]

Unnamed: 0                           106821
DATA INICIAL                     2019-06-23
DATA FINAL                       2019-06-29
REGIÃO                              SUDESTE
ESTADO                            SAO PAULO
PRODUTO                                 GNV
NÚMERO DE POSTOS PESQUISADOS             52
UNIDADE DE MEDIDA                     R$/m3
PREÇO MÉDIO REVENDA                    3.02
DESVIO PADRÃO REVENDA                 0.229
PREÇO MÍNIMO REVENDA                  2.699
PREÇO MÁXIMO REVENDA                   3.49
MARGEM MÉDIA REVENDA                  0.646
COEF DE VARIAÇÃO REVENDA              0.076
PREÇO MÉDIO DISTRIBUIÇÃO              2.374
DESVIO PADRÃO DISTRIBUIÇÃO            0.165
PREÇO MÍNIMO DISTRIBUIÇÃO            2.0179
PREÇO MÁXIMO DISTRIBUIÇÃO            2.5093
COEF DE VARIAÇÃO DISTRIBUIÇÃO          0.07
MÊS                                       6
ANO                                    2019
Name: 106821, dtype: object

#### **Criando uma Series**

Podemos criar um DataFrame a partir de uma lista de elementos.

In [30]:
pd.Series([1, 4, 7, 6])

0    1
1    4
2    7
3    6
dtype: int64

Podemos alterar o **nome dos índices** (veremos melhor jajá) e o **nome da Series** (o que ela representa):

In [31]:
pd.Series([2.4, 5.6, 7.8])

0    2.4
1    5.6
2    7.8
dtype: float64

#### **VEJA MAIS**
https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html

### 1.3.4 Atribuindo Dados

In [32]:
produto_view= data['PRODUTO'] # a series referente á coluna, NÃO É UMA CÓPIA, mas sim uma REFERÊNCIA/VIEW á coluna do dataframe

In [33]:
# fazendo uma cópia
produto_copy_bkp = data['PRODUTO'].copy() # retorna uma cópia da coluna produto do dataframe
produto_copy_bkp

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
106818                 GNV
106819                 GNV
106820                 GNV
106821                 GNV
106822                 GNV
Name: PRODUTO, Length: 106823, dtype: object

#### 1.3.4.1 Atribuindo constantes

In [34]:
data['PRODUTO'] = 'Combustível' # atribuindo o valor constante 'Combustível' para todos os index que estão na coluna 'PRODUTO'
data.head(3)

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,Combustível,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,Combustível,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,Combustível,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004

In [35]:
produto_view

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
106818                 GNV
106819                 GNV
106820                 GNV
106821                 GNV
106822                 GNV
Name: PRODUTO, Length: 106823, dtype: object

In [36]:
produto_copy_bkp

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
106818                 GNV
106819                 GNV
106820                 GNV
106821                 GNV
106822                 GNV
Name: PRODUTO, Length: 106823, dtype: object

#### 1.3.4.2 Atribuindo listas ou series

In [37]:
# para atribuir listas ou series em um dataframe é importante que essa lista tenha a mesma quantidade de elementos que tem o ...
# dataframe original, exemplo:

data.shape

(106823, 21)

In [38]:
# salvando esses dados em variáveis, você consegue obter o mesmo valor, exemplo:

nrows, ncolumns = data.shape

# numero de linhas, numero de colunas sendo salvos em variáveis respectivamente...

In [39]:
print(nrows, ncolumns)

106823 21

In [40]:
novos_produtos = [f'Produto {i}' for i in range(nrows)] # esse for fará com que o valor 'i' seja imprimido a cada valor que ...
len(novos_produtos) # ele executa, no 'range/intervalo' de 'nrows', que é o tamanho de linhas da coluna

106823

In [41]:
# a quantidade de elementos da lista 'novos produtos' é == ao tamanho da lista 'produto' original
data['PRODUTO'] = novos_produtos
data['PRODUTO']

0              Produto 0
1              Produto 1
2              Produto 2
3              Produto 3
4              Produto 4
               ...
106818    Produto 106818
106819    Produto 106819
106820    Produto 106820
106821    Produto 106821
106822    Produto 106822
Name: PRODUTO, Length: 106823, dtype: object

In [42]:
print(produto_view.head(3))
print('\n')
print(produto_copy_bkp.head(3))

0    ETANOL HIDRATADO
1    ETANOL HIDRATADO
2    ETANOL HIDRATADO
Name: PRODUTO, dtype: object


0    ETANOL HIDRATADO
1    ETANOL HIDRATADO
2    ETANOL HIDRATADO
Name: PRODUTO, dtype: object

In [43]:
# devolvendo o valor inicial á coluna 'PRODUTO' do dataframe

data['PRODUTO'] = produto_copy_bkp
data

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,...,3.690,0.818,0.018,2.756,0,2.756,2.756,0,6,2019
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,...,3.789,0.95,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,...,3.499,0.914,0.065,1.998,0,1.9981,1.9981,0,6,2019
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,...,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,...,3.699,1.179,0.001,2.518,0,2.5175,2.5175,0,6,2019

#### 1.3.4.3 Criando novas colunas
Para **criar uma nova coluna** em um data frame, basta atribuirmos uma _lista/Series de valores_ ou uma constante a uma **nova 'chave'** do data frame. <br/>

**PS:** A _quantidade de valores_ da lista precisa ser **igual** ao _número de linhas/registros_ do data frame.

In [44]:
# criando uma coluna com um valor constante
data['COLUNA NOVA'] = 'Default'

In [45]:
data

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004,Default
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004,Default
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004,Default
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004,Default
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004,Default
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,...,0.818,0.018,2.756,0,2.756,2.756,0,6,2019,Default
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,...,0.95,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019,Default
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,...,0.914,0.065,1.998,0,1.9981,1.9981,0,6,2019,Default
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,...,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019,Default
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,...,1.179,0.001,2.518,0,2.5175,2.5175,0,6,2019,Default

In [46]:
data['coluna criada com lista'] = range(data.shape[0]) # range declara que é um intervalo de 'data.shape(0)', ou seja ...
# do tamanho de 'data' começando em 0, conforme foi passado em cerquilha "[]"
data

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004,Default,0
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004,Default,1
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004,Default,2
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004,Default,3
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004,Default,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,...,0.018,2.756,0,2.756,2.756,0,6,2019,Default,106818
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,...,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019,Default,106819
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,...,0.065,1.998,0,1.9981,1.9981,0,6,2019,Default,106820
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,...,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019,Default,106821
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,...,0.001,2.518,0,2.5175,2.5175,0,6,2019,Default,106822

In [47]:
# lista que não funciona, vamos passar uma lista que não tenha o tamanho da quantidade de index do dataframe

# data['VAI DAR ERRO'] = [1, 2, 3]

<br/>

Outro exemplo:

In [48]:
data.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004,Default,0
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004,Default,1
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004,Default,2
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004,Default,3
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004,Default,4

In [49]:
data['PRECO MEDIO REVENDA (Dólar)'] = data['PREÇO MÉDIO REVENDA'] * 5.4
# estou pegando a coluna 'PREÇO MÉDIO REVENDA' e múltilplicando todos os seus index por 5.4 ...
# e atribuindo esses valores á uma nova coluna, que terá o mesmo tamanho

data.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,Default,0,6.9552
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05,0.115,5,2004,Default,1,6.2748
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,0.97,0.095,0.5614,1.161,0.098,5,2004,Default,2,7.5006
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,0.83,0.119,0.5991,1.22242,0.143,5,2004,Default,3,6.8148
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,0.941,0.077,0.7441,1.0317,0.082,5,2004,Default,4,6.3774

**PS:** Obviamente, a lógica correta em converter o preço dos combustíveis em reais para dólares não é considerar uma taxa de câmbio fixa, uma vez que cada preço foi aferido em um momento diferente.

### 1.3.4 Índices

Todo Data Frame possui **índices**, que não são considerado colunas da tabela. Tais índices são comumente **númericos**, de 0 a num_linhas-1, mas também podem ser **textuais (rótulos/labels)**.

In [50]:
data.index

RangeIndex(start=0, stop=106823, step=1)

Use `list(data.index)` ou `data.index.to_list()` para converter um RangeIndex para uma python list.

#### **Exemplo de Data Frame com Índices Textuais (labels)**

In [51]:
pesquisa_de_satisfacao = pd.DataFrame({
    'bom': [50, 21, 100],
    'ruim': [131, 2, 30],
    'pessimo': [30, 20, 1]
}, index=['XboxOne', 'Playstation4', 'Switch'])

In [52]:
pesquisa_de_satisfacao.head()

              bom  ruim  pessimo
XboxOne        50   131       30
Playstation4   21     2       20
Switch        100    30        1

### 1.4 Selecionando uma ou mais amostras (Indexação)

#### **==>  Index-based selection (seleção baseada em Índices)**
Mostrando linhas específicas de um DataFrame:

`iloc`: seleciona elementos do Dataframe, baseado em seu **índice (número)** --> row-first, column-second

**Selecionando uma amostra/linha:**

In [53]:
data.iloc[200]

Unnamed: 0                                       200
DATA INICIAL                              2004-06-27
DATA FINAL                                2004-07-03
REGIÃO                                      NORDESTE
ESTADO                           RIO GRANDE DO NORTE
PRODUTO                             ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                     121
UNIDADE DE MEDIDA                               R$/l
PREÇO MÉDIO REVENDA                            1.369
DESVIO PADRÃO REVENDA                          0.074
PREÇO MÍNIMO REVENDA                            1.19
PREÇO MÁXIMO REVENDA                            1.59
MARGEM MÉDIA REVENDA                            0.32
COEF DE VARIAÇÃO REVENDA                       0.054
PREÇO MÉDIO DISTRIBUIÇÃO                       1.049
DESVIO PADRÃO DISTRIBUIÇÃO                     0.116
PREÇO MÍNIMO DISTRIBUIÇÃO                     0.7869
PREÇO MÁXIMO DISTRIBUIÇÃO                     1.3143
COEF DE VARIAÇÃO DISTRIBUIÇÃO                  0.111
MÊS                                                6
ANO                                             2004
COLUNA NOVA                                  Default
coluna criada com lista                          200
PRECO MEDIO REVENDA (Dólar)                   7.3926
Name: 200, dtype: object

**Selecionando múltiplias amostras/linhas:**

In [54]:
# selecionando os 10 primeiros indices do dataframe

data.iloc[:10]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,Default,0,6.9552
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05,0.115,5,2004,Default,1,6.2748
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,0.97,0.095,0.5614,1.161,0.098,5,2004,Default,2,7.5006
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,0.83,0.119,0.5991,1.22242,0.143,5,2004,Default,3,6.8148
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,0.941,0.077,0.7441,1.0317,0.082,5,2004,Default,4,6.3774
5,5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,...,0.957,0.128,0.5686,1.35,0.134,5,2004,Default,5,7.4682
6,6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,...,1.1,0.068,0.7332,1.294,0.062,5,2004,Default,6,7.8462
7,7,2004-05-09,2004-05-15,NORDESTE,MARANHAO,ETANOL HIDRATADO,105,R$/l,1.631,0.158,...,1.116,0.091,0.9923,1.36183,0.082,5,2004,Default,7,8.8074
8,8,2004-05-09,2004-05-15,NORDESTE,PARAIBA,ETANOL HIDRATADO,125,R$/l,1.284,0.130,...,0.931,0.072,0.7577,1.2972,0.077,5,2004,Default,8,6.9336
9,9,2004-05-09,2004-05-15,NORDESTE,PERNAMBUCO,ETANOL HIDRATADO,423,R$/l,1.224,0.141,...,0.947,0.091,0.5643,1.3541,0.096,5,2004,Default,9,6.6096

In [55]:
# selecionando um intervalo entre os índices 5 ao 9 (9 incluso)

data.iloc[5:10]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
5,5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,...,0.957,0.128,0.5686,1.35,0.134,5,2004,Default,5,7.4682
6,6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,...,1.1,0.068,0.7332,1.294,0.062,5,2004,Default,6,7.8462
7,7,2004-05-09,2004-05-15,NORDESTE,MARANHAO,ETANOL HIDRATADO,105,R$/l,1.631,0.158,...,1.116,0.091,0.9923,1.36183,0.082,5,2004,Default,7,8.8074
8,8,2004-05-09,2004-05-15,NORDESTE,PARAIBA,ETANOL HIDRATADO,125,R$/l,1.284,0.130,...,0.931,0.072,0.7577,1.2972,0.077,5,2004,Default,8,6.9336
9,9,2004-05-09,2004-05-15,NORDESTE,PERNAMBUCO,ETANOL HIDRATADO,423,R$/l,1.224,0.141,...,0.947,0.091,0.5643,1.3541,0.096,5,2004,Default,9,6.6096

In [56]:
# escolhendo índices específicos para mostrar, como: valores 4, 8, 12, 16, 20

data.iloc[[4, 8, 12, 16, 20]]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,0.941,0.077,0.7441,1.0317,0.082,5,2004,Default,4,6.3774
8,8,2004-05-09,2004-05-15,NORDESTE,PARAIBA,ETANOL HIDRATADO,125,R$/l,1.284,0.130,...,0.931,0.072,0.7577,1.2972,0.077,5,2004,Default,8,6.9336
12,12,2004-05-09,2004-05-15,NORDESTE,SERGIPE,ETANOL HIDRATADO,57,R$/l,1.301,0.109,...,0.98,0.052,0.8267,1.1059,0.053,5,2004,Default,12,7.0254
16,16,2004-05-09,2004-05-15,NORTE,PARA,ETANOL HIDRATADO,104,R$/l,1.914,0.246,...,1.378,0.237,0.7564,1.8908,0.172,5,2004,Default,16,10.3356
20,20,2004-05-09,2004-05-15,SUDESTE,ESPIRITO SANTO,ETANOL HIDRATADO,306,R$/l,1.148,0.116,...,0.881,0.095,0.6259,1.1381,0.108,5,2004,Default,20,6.1992

In [57]:
# selecionando as observações de índices em ordem aleatória/não crescente

data.iloc[[12, 1, 87, 33]]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
12,12,2004-05-09,2004-05-15,NORDESTE,SERGIPE,ETANOL HIDRATADO,57,R$/l,1.301,0.109,...,0.98,0.052,0.8267,1.1059,0.053,5,2004,Default,12,7.0254
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05,0.115,5,2004,Default,1,6.2748
87,87,2004-05-30,2004-06-05,NORDESTE,CEARA,ETANOL HIDRATADO,269,R$/l,1.442,0.206,...,1.109,0.07,0.85727,1.27,0.063,5,2004,Default,87,7.7868
33,33,2004-05-16,2004-05-22,NORDESTE,CEARA,ETANOL HIDRATADO,277,R$/l,1.451,0.219,...,1.104,0.06,0.92,1.27,0.054,5,2004,Default,33,7.8354

In [58]:
# retornando o valor do índice 1, coluna 4 ('ESTADO')

data.iloc[1, 4]

'GOIAS'

In [59]:
# e assim por diante!

#### **==>  Label-based selection (seleção baseadas em Rótulos)**

`loc`: seleciona elementos do Dataframe, baseado em seus **rótulos** --> row-first, column-second

In [60]:
pesquisa_de_satisfacao

              bom  ruim  pessimo
XboxOne        50   131       30
Playstation4   21     2       20
Switch        100    30        1

In [61]:
# retorna a linha de indice 0 ==> usando o iloc

pesquisa_de_satisfacao.iloc[0]

bom         50
ruim       131
pessimo     30
Name: XboxOne, dtype: int64

In [62]:
# usando o loc

pesquisa_de_satisfacao.loc['XboxOne']

bom         50
ruim       131
pessimo     30
Name: XboxOne, dtype: int64

In [63]:
# NÃO FUNCIONA ==> usando o iloc para pesquisar indices com rótulos

## pesquisa_de_satisfacao.iloc['XboxOne']

In [64]:
# NÃO FUNCIONA ==> usando o loc para pesquisar indices com números

## pesquisa_de_satisfacao.loc[1]

In [65]:
pesquisa_de_satisfacao

              bom  ruim  pessimo
XboxOne        50   131       30
Playstation4   21     2       20
Switch        100    30        1

In [66]:
# quero acessar de maneiras diferentes as avaliações ruins de 'Playstation4'
# USANDO ILOC

pesquisa_de_satisfacao.iloc[1, 1]

2

In [67]:
#USANDO LOC

In [68]:
pesquisa_de_satisfacao.loc['Playstation4', 'ruim']

2

In [69]:
# passando listas de índices rotulados

pesquisa_de_satisfacao.loc[['Playstation4', 'Switch']]

              bom  ruim  pessimo
Playstation4   21     2       20
Switch        100    30        1

In [70]:
# retorne todas as linhas e apenas as colunas com rótulos 'bom' e 'pessimo'
# posso fazer de duas maneiras, sendo elas, sem LOC:

pesquisa_de_satisfacao[['bom', 'pessimo']]

              bom  pessimo
XboxOne        50       30
Playstation4   21       20
Switch        100        1

In [71]:
# com LOC

pesquisa_de_satisfacao.loc[:, ['bom', 'pessimo']]

# USANDO ':' para definir um intervalo, quando não tem valor nem antes e nem depois, significa que estou pedindo um...
# intervalo do início ao fim

              bom  pessimo
XboxOne        50       30
Playstation4   21       20
Switch        100        1

In [72]:
# usando ILOC

pesquisa_de_satisfacao.iloc[:,[0, 2]]

# USANDO ':' para definir um intervalo, quando não tem valor nem antes e nem depois, significa que estou pedindo um...
# intervalo do início ao fim

              bom  pessimo
XboxOne        50       30
Playstation4   21       20
Switch        100        1

In [73]:
data.head(2)

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,Default,0,6.9552
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05,0.115,5,2004,Default,1,6.2748

In [74]:
data.iloc[[1, 4, 7], [8]]

   PREÇO MÉDIO REVENDA
1                1.162
4                1.181
7                1.631

In [75]:
# NO DATAFRAME 'DATA', VOU PROCURAR PELO PREÇO DE MÉDIO DE REVENDA DOS INDÍCES '1, 4, 7' USANDO LOC E ILOC

data.loc[[1, 4, 7], ['PREÇO MÉDIO REVENDA']]

   PREÇO MÉDIO REVENDA
1                1.162
4                1.181
7                1.631

In [76]:
# FAZENDO O MESMO ESTILO DE BUSCA COM INTERVALO: ESTADO DOS PRIMEIROS 4 ÍNDICES

data.loc[:3, ['ESTADO']]

               ESTADO
0    DISTRITO FEDERAL
1               GOIAS
2         MATO GROSSO
3  MATO GROSSO DO SUL

### 1.5 Selecionando um ou mais atributos (colunas)

Como o rótulo da coluna 'DATA INICIAL' **possui espaço**, não é possível acessá-la como método: `data.DATA INICIAL`

### 1.6 Removendo um Atributo (Coluna) do Data Frame

Como vimos anteriormente, o atributo 'Unnamed: 0' parece ser um **ruído** em nosso dataset. Desta maneira, vamos eliminá-lo,

In [77]:
data.head(3)

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,Default,0,6.9552
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05,0.115,5,2004,Default,1,6.2748
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,0.97,0.095,0.5614,1.161,0.098,5,2004,Default,2,7.5006

In [78]:
# deleta/remove a coluna que foi passada, que no caso, 'Unnamed: 0'. 

del data['Unnamed: 0']

In [79]:
data.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,Default,0,6.9552
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.763,0.088,0.5013,1.05,0.115,5,2004,Default,1,6.2748
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.97,0.095,0.5614,1.161,0.098,5,2004,Default,2,7.5006

In [80]:
data.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,Default,0,6.9552
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.763,0.088,0.5013,1.05,0.115,5,2004,Default,1,6.2748
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.97,0.095,0.5614,1.161,0.098,5,2004,Default,2,7.5006

<br>

Removendo as colunas fícticias criadas ao decorrer dos estudos.

<br>

### 1.7 Salvando um Data Frame

Para salvarmos um Data Frame para um **arquivo CSV**, basta usarmos o método `.to_csv`. <br/>
Por padrão, esse método **salva os índices da tabela como uma coluna no CSV**.<br/>
Como no geral tais índices são números de 0 a n-1, não há necessidade para isso (veja que removemos anteriormente a coluna 'Unnamed: 0' que foi justamente esse caso).<br/>
Desta forma, utilize o parâmetro: `index=False`.

Por padrão, o método utilizará a ',' como separador das colunas. Caso queira alterá-lo, utilize o parâmetro `sep`.

In [81]:
data.to_csv('./datasets/GasPricesinBrazil_2004-2019_preprocessado.csv', index=False)

### 1.8 Seleção Condicional: Filtrando amostras

Durante nossas análise exploratórias, frequentemente filtraremos nossas amostras, a partir de certas **condições**, para fins de análise mais específica. <br/>
Existem algumas maneiras de fazermos tal filtragem. Antes disso, vamos carregar nosso dataset pré-processado que salvamos no item anterior.

In [82]:
data = pd.read_csv('./datasets/GasPricesinBrazil_2004-2019_preprocessado.csv')

In [83]:
data.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,Default,0,6.9552
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.763,0.088,0.5013,1.05,0.115,5,2004,Default,1,6.2748
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.97,0.095,0.5614,1.161,0.098,5,2004,Default,2,7.5006

In [84]:
# usando a função 'unique' para descobrir quais são os valores únicos dentro de 'ESTADO' e salvando em um array 'estados'.

estados = data.ESTADO.unique()

In [85]:
estados

array(['DISTRITO FEDERAL', 'GOIAS', 'MATO GROSSO', 'MATO GROSSO DO SUL',
       'ALAGOAS', 'BAHIA', 'CEARA', 'MARANHAO', 'PARAIBA', 'PERNAMBUCO',
       'PIAUI', 'RIO GRANDE DO NORTE', 'SERGIPE', 'ACRE', 'AMAPA',
       'AMAZONAS', 'PARA', 'RONDONIA', 'RORAIMA', 'TOCANTINS',
       'ESPIRITO SANTO', 'MINAS GERAIS', 'RIO DE JANEIRO', 'SAO PAULO',
       'PARANA', 'RIO GRANDE DO SUL', 'SANTA CATARINA'], dtype=object)

#### **Selecionando apenas os preços dos Postos de São Paulo**

##### **==> Alternativa 1: Seleção Condicional (Comparações diretas)**

O código abaixo retorna uma ***Series ('array') de booleans***, com o número de linhas (observações) do Data Frame, que informa os registros de preços dos postos do _estado de São Paulo_ (True).

In [86]:
# compara elemento a elemento da series, retornando outra sderies de booleans

data['ESTADO'] == 'SAO PAULO'

0         False
1         False
2         False
3         False
4         False
          ...
106818    False
106819    False
106820    False
106821     True
106822    False
Name: ESTADO, Length: 106823, dtype: bool

In [87]:
# salvando a series em uma variável

selecao = data.ESTADO == 'SAO PAULO'

type(selecao)

pandas.core.series.Series

Para **filtrarmos** os registros de postos do estado de São Paulo:

In [88]:
# fazendo isso, fará com que mostre apenas as linhas cujo resultado booleano seja 'True', conforme a comparação acima.

data[selecao]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,...,0.57,0.056,0.4271,1.4123,0.098,5,2004,Default,23,4.1472
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,...,0.576,0.05,0.43204,0.9724,0.087,5,2004,Default,50,4.1364
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,...,0.614,0.063,0.34951,1.412,0.103,5,2004,Default,77,4.4442
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,...,0.671,0.075,0.3398,1.0669,0.112,5,2004,Default,104,4.7898
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,...,0.689,0.072,0.47797,1.0669,0.104,6,2004,Default,131,4.8276
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106724,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL,863,R$/l,3.448,0.156,3.099,...,3.047,0.097,2.8599,3.3481,0.032,6,2019,Default,106724,18.6192
106751,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL S10,1277,R$/l,3.574,0.169,3.199,...,3.123,0.111,2.885,3.491,0.036,6,2019,Default,106751,19.2996
106778,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.142,0.183,3.769,...,3.713,0.097,3.52,4.0892,0.026,6,2019,Default,106778,22.3668
106805,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GLP,1017,R$/13Kg,66.893,6.100,50.000,...,49.214,5.071,40.19,72,0.103,6,2019,Default,106805,361.2222
106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,...,2.374,0.165,2.0179,2.5093,0.07,6,2019,Default,106821,16.3080

O resultado é um Data Frame com _apenas_ os registros desejados após a **filtragem**.<br/>
Podemos ainda utilizar o método `loc` para o mesmo fim:

In [89]:
data.loc[selecao].head(2)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.59,...,0.57,0.056,0.4271,1.4123,0.098,5,2004,Default,23,4.1472
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.59,...,0.576,0.05,0.43204,0.9724,0.087,5,2004,Default,50,4.1364

In [90]:
data.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,Default,0,6.9552
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.763,0.088,0.5013,1.05,0.115,5,2004,Default,1,6.2748
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.97,0.095,0.5614,1.161,0.098,5,2004,Default,2,7.5006

##### **==> Alternativa 2: Utilizando o método `query`**

`query` filtra linhas de um DataFrame baseado em uma **query (pergunta)**.

In [91]:
data.query('ESTADO == "SAO PAULO"')

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,...,0.57,0.056,0.4271,1.4123,0.098,5,2004,Default,23,4.1472
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,...,0.576,0.05,0.43204,0.9724,0.087,5,2004,Default,50,4.1364
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,...,0.614,0.063,0.34951,1.412,0.103,5,2004,Default,77,4.4442
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,...,0.671,0.075,0.3398,1.0669,0.112,5,2004,Default,104,4.7898
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,...,0.689,0.072,0.47797,1.0669,0.104,6,2004,Default,131,4.8276
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106724,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL,863,R$/l,3.448,0.156,3.099,...,3.047,0.097,2.8599,3.3481,0.032,6,2019,Default,106724,18.6192
106751,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL S10,1277,R$/l,3.574,0.169,3.199,...,3.123,0.111,2.885,3.491,0.036,6,2019,Default,106751,19.2996
106778,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.142,0.183,3.769,...,3.713,0.097,3.52,4.0892,0.026,6,2019,Default,106778,22.3668
106805,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GLP,1017,R$/13Kg,66.893,6.100,50.000,...,49.214,5.071,40.19,72,0.103,6,2019,Default,106805,361.2222
106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,...,2.374,0.165,2.0179,2.5093,0.07,6,2019,Default,106821,16.3080

<br/>

Uma boa prática é **salvar o Data Frame filtrado em uma nova variável**. Isso simplifica a complexidade do código para futuras análises feitas para os postos de São Paulo.

In [92]:
postos_sp = data.query('ESTADO == "SAO PAULO"')

In [93]:
postos_sp.head(4)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,...,0.57,0.056,0.4271,1.4123,0.098,5,2004,Default,23,4.1472
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,...,0.576,0.05,0.43204,0.9724,0.087,5,2004,Default,50,4.1364
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,...,0.614,0.063,0.34951,1.412,0.103,5,2004,Default,77,4.4442
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,...,0.671,0.075,0.3398,1.0669,0.112,5,2004,Default,104,4.7898

## Resetando os índices

In [94]:
# usando 'drop=True' para jogar fora os índices originais, para não ter uma coluna chamada 'indice' no dataframe ...
# depois de ter usado a função 'reset_index'.

postos_sp.reset_index(drop=True)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,...,0.57,0.056,0.4271,1.4123,0.098,5,2004,Default,23,4.1472
1,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,...,0.576,0.05,0.43204,0.9724,0.087,5,2004,Default,50,4.1364
2,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,...,0.614,0.063,0.34951,1.412,0.103,5,2004,Default,77,4.4442
3,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,...,0.671,0.075,0.3398,1.0669,0.112,5,2004,Default,104,4.7898
4,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,...,0.689,0.072,0.47797,1.0669,0.104,6,2004,Default,131,4.8276
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4258,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL,863,R$/l,3.448,0.156,3.099,...,3.047,0.097,2.8599,3.3481,0.032,6,2019,Default,106724,18.6192
4259,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL S10,1277,R$/l,3.574,0.169,3.199,...,3.123,0.111,2.885,3.491,0.036,6,2019,Default,106751,19.2996
4260,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.142,0.183,3.769,...,3.713,0.097,3.52,4.0892,0.026,6,2019,Default,106778,22.3668
4261,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GLP,1017,R$/13Kg,66.893,6.100,50.000,...,49.214,5.071,40.19,72,0.103,6,2019,Default,106805,361.2222
4262,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,...,2.374,0.165,2.0179,2.5093,0.07,6,2019,Default,106821,16.3080

*AGORA FAZENDO A CHAMADA DA VARIAVEL...*

In [95]:
postos_sp.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.59,...,0.57,0.056,0.4271,1.4123,0.098,5,2004,Default,23,4.1472
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.59,...,0.576,0.05,0.43204,0.9724,0.087,5,2004,Default,50,4.1364
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.62,...,0.614,0.063,0.34951,1.412,0.103,5,2004,Default,77,4.4442

In [96]:
# isso porque não usei o parâmetro 'implace=True', que faz a alteração na prórpia variável e não apenas gera uma cópia ...
# para execução.

postos_sp.reset_index(drop=True, inplace=True)

postos_sp.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.59,...,0.57,0.056,0.4271,1.4123,0.098,5,2004,Default,23,4.1472
1,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.59,...,0.576,0.05,0.43204,0.9724,0.087,5,2004,Default,50,4.1364
2,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.62,...,0.614,0.063,0.34951,1.412,0.103,5,2004,Default,77,4.4442

In [97]:
# ALTERNATIVA COMUM USANDO QUERY

postos_sp = data.query('ESTADO == "SAO PAULO"').reset_index(drop=True)

postos_sp.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,...,0.57,0.056,0.4271,1.4123,0.098,5,2004,Default,23,4.1472
1,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,...,0.576,0.05,0.43204,0.9724,0.087,5,2004,Default,50,4.1364
2,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,...,0.614,0.063,0.34951,1.412,0.103,5,2004,Default,77,4.4442
3,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,...,0.671,0.075,0.3398,1.0669,0.112,5,2004,Default,104,4.7898
4,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,...,0.689,0.072,0.47797,1.0669,0.104,6,2004,Default,131,4.8276

#### **Selecionando registros de postos do Rio de Janeiro com Preços acima de 2 reais**

In [98]:
data.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,Default,0,6.9552
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.763,0.088,0.5013,1.05,0.115,5,2004,Default,1,6.2748
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.97,0.095,0.5614,1.161,0.098,5,2004,Default,2,7.5006
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,...,0.83,0.119,0.5991,1.22242,0.143,5,2004,Default,3,6.8148
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,...,0.941,0.077,0.7441,1.0317,0.082,5,2004,Default,4,6.3774

In [99]:
data.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,Default,0,6.9552
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.763,0.088,0.5013,1.05,0.115,5,2004,Default,1,6.2748
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.97,0.095,0.5614,1.161,0.098,5,2004,Default,2,7.5006
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,...,0.83,0.119,0.5991,1.22242,0.143,5,2004,Default,3,6.8148
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,...,0.941,0.077,0.7441,1.0317,0.082,5,2004,Default,4,6.3774

In [100]:
data['ESTADO'] == 'RIO DE JANEIRO'

0         False
1         False
2         False
3         False
4         False
          ...
106818    False
106819    False
106820    False
106821    False
106822    False
Name: ESTADO, Length: 106823, dtype: bool

In [101]:
data['PREÇO MÉDIO REVENDA'] > 2.0

0         False
1         False
2         False
3         False
4         False
          ...
106818     True
106819     True
106820     True
106821     True
106822     True
Name: PREÇO MÉDIO REVENDA, Length: 106823, dtype: bool

In [102]:
preco_medio_rj = (data['ESTADO'] == 'RIO DE JANEIRO') & (data['PREÇO MÉDIO REVENDA'] > 2.0)

data[preco_medio_rj].reset_index(drop=True)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2006-02-26,2006-03-04,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,881,R$/l,2.028,0.148,1.589,...,1.806,0.11,1.31,2.1358,0.061,2,2006,Default,2501,10.9512
1,2006-03-05,2006-03-11,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,889,R$/l,2.125,0.149,1.779,...,1.839,0.117,1.438,2.2801,0.064,3,2006,Default,2528,11.4750
2,2006-03-12,2006-03-18,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,902,R$/l,2.163,0.138,1.799,...,1.895,0.134,1.43,2.3454,0.071,3,2006,Default,2555,11.6802
3,2006-03-19,2006-03-25,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,898,R$/l,2.166,0.146,1.760,...,1.935,0.14,1.438,2.2925,0.072,3,2006,Default,2582,11.6964
4,2006-03-26,2006-04-01,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,890,R$/l,2.172,0.143,1.789,...,1.963,0.133,1.438,2.2513,0.068,3,2006,Default,2609,11.7288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3049,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,212,R$/l,3.569,0.166,3.179,...,3.102,0.119,2.886,3.5162,0.038,6,2019,Default,106718,19.2726
3050,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL S10,335,R$/l,3.697,0.187,3.279,...,3.197,0.127,2.9772,3.5388,0.04,6,2019,Default,106745,19.9638
3051,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,422,R$/l,4.928,0.165,4.599,...,4.39,0.097,4.2,4.618,0.022,6,2019,Default,106772,26.6112
3052,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,GLP,221,R$/13Kg,65.010,5.812,50.000,...,47.535,3.934,39,58.2,0.083,6,2019,Default,106799,351.0540
3053,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,GNV,124,R$/m3,3.111,0.260,2.799,...,2.404,0.174,2.126,2.7909,0.072,6,2019,Default,106817,16.7994

Note que o resultado da seleção continua sendo uma _Series de booleans_ com o _mesmo número de linhas/amostras do DataFrame_, de modo que cada linha possuirá um valor booleano indicando se o posto é do Rio de Janeiro **E/AND/&** o preço aferido do combustível é maior que 2 reais (True) ou não.

O símbolo **&** significa **AND** na comparação. Essa nomenclatura do python/pandas é diferente das nomenclaturas tradicionais (&&). <br/>
Similarmente:
- **|** representa o **OR** (não é ||)
- **~** representa o **NOT** (não é !)

Alternativamente, poderíamos usar o método `query` para fazermos tal seleção. Porém, isso não é possível especificamente para esse caso, pois o rótulo da coluna 'PREÇO MÉDIO REVENDA' possui caracteres inválidos para o método (cedilha, acentos)

In [103]:
# Não funciona
# data.query('ESTADO=="RIO DE JANEIRO" and PREÇO MÉDIO REVENDA > 2')

In [104]:
data.query('ESTADO == "RIO DE JANEIRO" or ESTADO == "SAO PAULO"').reset_index(drop=True)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,952,R$/l,1.098,0.154,0.740,...,0.786,0.173,0.326,1.263,0.22,5,2004,Default,22,5.9292
1,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,...,0.57,0.056,0.4271,1.4123,0.098,5,2004,Default,23,4.1472
2,2004-05-16,2004-05-22,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,948,R$/l,1.092,0.157,0.740,...,0.808,0.175,0.3257,1.2921,0.217,5,2004,Default,49,5.8968
3,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,...,0.576,0.05,0.43204,0.9724,0.087,5,2004,Default,50,4.1364
4,2004-05-23,2004-05-29,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,973,R$/l,1.103,0.140,0.770,...,0.822,0.166,0.38909,1.1859,0.202,5,2004,Default,76,5.9562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8521,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.142,0.183,3.769,...,3.713,0.097,3.52,4.0892,0.026,6,2019,Default,106778,22.3668
8522,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,GLP,221,R$/13Kg,65.010,5.812,50.000,...,47.535,3.934,39,58.2,0.083,6,2019,Default,106799,351.0540
8523,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GLP,1017,R$/13Kg,66.893,6.100,50.000,...,49.214,5.071,40.19,72,0.103,6,2019,Default,106805,361.2222
8524,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,GNV,124,R$/m3,3.111,0.260,2.799,...,2.404,0.174,2.126,2.7909,0.072,6,2019,Default,106817,16.7994
8525,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,...,2.374,0.165,2.0179,2.5093,0.07,6,2019,Default,106821,16.3080

**Aprofundando mais ainda**

A primeira comparação `(data['ESTADO'] == 'RIO DE JANEIRO')` checa, linha a linha (observação a observação) do DataFrame, quais são aquelas cujo o estado é RIO DE JANEIRO. Nenhuma averiguação de preços é feita nesse momento. Como resultado, temos uma Series de booleans que responde **apenas** a essa "pergunta" feita.

A segunda comparação `(data['PREÇO MÉDIO REVENDA'] > 2)` checa, linha a linha (observação a observação) do DataFrame, quais são os registros cujo preço do combustível é maior que 2 reais. Note que essa comparação checará os postos de **TODOS os estados**. Como resultado, temos uma Series de booleans que responde **apenas** a essa "pergunta" feita.

Por fim, as duas "perguntas" são unidas pelo AND (&) que retorna a "pergunta completa" que fizemos.

Alguns podem argumentar que tal abordagem é **ineficiente**, uma vez que, para cada condição ("pergunta"), estamos varrendo todas as linhas do DataFrame. <br/>
O Pandas _tenta otimizar_ isso ao máximo por de trás dos panos. Mas, de fato, se tivermos um dataset **muito grande** (centenas de milhares de linhas), tal abordagem se tornará _lenta_.

Assim, poderíamos fazer filtragem com múltiplos condicionais em partes:

In [105]:
selecao_1 = data['ESTADO'] == 'RIO DE JANEIRO'
postos_rj = data[selecao_1]
postos_rj

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
22,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,952,R$/l,1.098,0.154,0.740,...,0.786,0.173,0.326,1.263,0.22,5,2004,Default,22,5.9292
49,2004-05-16,2004-05-22,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,948,R$/l,1.092,0.157,0.740,...,0.808,0.175,0.3257,1.2921,0.217,5,2004,Default,49,5.8968
76,2004-05-23,2004-05-29,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,973,R$/l,1.103,0.140,0.770,...,0.822,0.166,0.38909,1.1859,0.202,5,2004,Default,76,5.9562
103,2004-05-30,2004-06-05,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,955,R$/l,1.149,0.156,0.799,...,0.849,0.188,0.3453,1.3667,0.221,5,2004,Default,103,6.2046
130,2004-06-06,2004-06-12,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,966,R$/l,1.165,0.154,0.830,...,0.911,0.198,0.4,1.3667,0.217,6,2004,Default,130,6.2910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106718,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,212,R$/l,3.569,0.166,3.179,...,3.102,0.119,2.886,3.5162,0.038,6,2019,Default,106718,19.2726
106745,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL S10,335,R$/l,3.697,0.187,3.279,...,3.197,0.127,2.9772,3.5388,0.04,6,2019,Default,106745,19.9638
106772,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,422,R$/l,4.928,0.165,4.599,...,4.39,0.097,4.2,4.618,0.022,6,2019,Default,106772,26.6112
106799,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,GLP,221,R$/13Kg,65.010,5.812,50.000,...,47.535,3.934,39,58.2,0.083,6,2019,Default,106799,351.0540
106817,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,GNV,124,R$/m3,3.111,0.260,2.799,...,2.404,0.174,2.126,2.7909,0.072,6,2019,Default,106817,16.7994

In [106]:
selecao_2 = postos_rj['PREÇO MÉDIO REVENDA'] > 2
postos_rj[selecao_2].head(3).reset_index(drop=True)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2006-02-26,2006-03-04,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,881,R$/l,2.028,0.148,1.589,...,1.806,0.11,1.31,2.1358,0.061,2,2006,Default,2501,10.9512
1,2006-03-05,2006-03-11,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,889,R$/l,2.125,0.149,1.779,...,1.839,0.117,1.438,2.2801,0.064,3,2006,Default,2528,11.4750
2,2006-03-12,2006-03-18,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,902,R$/l,2.163,0.138,1.799,...,1.895,0.134,1.43,2.3454,0.071,3,2006,Default,2555,11.6802

#### **Selecionando registros de postos de São Paulo ou do Rio de Janeiro com Gasolina Comum acima de 2 reais**

Podemos fazer a solução do "jeito mais lento", percorrendo o DataFrame inteiro _múltiplas vezes_:

In [107]:
selecao_sp_rj= (data['ESTADO'] == 'SAO PAULO') | (data['ESTADO'] == 'RIO DE JANEIRO')

In [108]:
selecao_gas_comum = data['PRODUTO'] == 'GASOLINA COMUM'

In [109]:
selecao_acima_de_2 = data['PREÇO MÉDIO REVENDA'] > 2

In [110]:
selecao_final = selecao_sp_rj & selecao_gas_comum & selecao_acima_de_2

In [111]:
data[selecao_final]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
12086,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1071,R$/l,2.045,0.109,1.700,...,1.791,0.047,1.6363,1.9594,0.026,5,2004,Default,12086,11.0430
12113,2004-05-16,2004-05-22,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.040,0.113,1.700,...,1.788,0.049,1.5943,1.99651,0.027,5,2004,Default,12113,11.0160
12140,2004-05-23,2004-05-29,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.042,0.108,1.700,...,1.79,0.046,1.63596,2.2137,0.026,5,2004,Default,12140,11.0268
12167,2004-05-30,2004-06-05,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.053,0.111,1.730,...,1.802,0.055,1.64,2.21425,0.031,5,2004,Default,12167,11.0862
12194,2004-06-06,2004-06-12,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.063,0.107,1.760,...,1.816,0.054,1.64,2.32425,0.03,6,2004,Default,12194,11.1402
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106479,2019-06-09,2019-06-15,SUDESTE,SAO PAULO,GASOLINA COMUM,1643,R$/l,4.210,0.177,3.759,...,3.785,0.096,3.52,4.1007,0.025,6,2019,Default,106479,22.7340
106623,2019-06-16,2019-06-22,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,418,R$/l,4.927,0.160,4.599,...,4.383,0.1,4.1972,4.6239,0.023,6,2019,Default,106623,26.6058
106629,2019-06-16,2019-06-22,SUDESTE,SAO PAULO,GASOLINA COMUM,1635,R$/l,4.168,0.177,3.679,...,3.725,0.096,3.502,4.0892,0.026,6,2019,Default,106629,22.5072
106772,2019-06-23,2019-06-29,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,422,R$/l,4.928,0.165,4.599,...,4.39,0.097,4.2,4.618,0.022,6,2019,Default,106772,26.6112
106778,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.142,0.183,3.769,...,3.713,0.097,3.52,4.0892,0.026,6,2019,Default,106778,22.3668

<br/>

Alternativamente:

#### **Selecionando registros dos anos de 2008, 2010 e 2012**

**ALTERNATIVA 1**

**ALTERNATIVA 2**

### **Iterando com DataFrames**

#### For-each `DataFrame.iterrows()` (LENTO ==> apenas indicado para iterar pequenos conjunto de dados)

<h2>2. Preparação dos dados</h2>
<hr/>

### 2.1 Removendo amostras com valores vazios (null / nan) no dataset

In [112]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 23 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   106823 non-null  object
 1   DATA FINAL                     106823 non-null  object
 2   REGIÃO                         106823 non-null  object
 3   ESTADO                         106823 non-null  object
 4   PRODUTO                        106823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 6   UNIDADE DE MEDIDA              106823 non-null  object
 7   PREÇO MÉDIO REVENDA            106823 non-null  float64
 8   DESVIO PADRÃO REVENDA          106823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           106823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 11  MARGEM MÉDIA REVENDA           106823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       106823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     106823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      106823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      106823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  106823 non-null  object
 18  MÊS                            106823 non-null  int64
 19  ANO                            106823 non-null  int64
 20  COLUNA NOVA                    106823 non-null  object
 21  coluna criada com lista        106823 non-null  int64
 22  PRECO MEDIO REVENDA (Dólar)    106823 non-null  float64
dtypes: float64(6), int64(4), object(13)
memory usage: 18.7+ MB

De um total de 106823 observações, **não há valores null** / nan para nenhum atributo. Mas, veremos que não é bem assim neste caso específico.<br/><br/>

### 2.2 Conversão de tipos de atributos

O pandas automaticamente reconhece os tipos de dados de cada coluna. <br/>
Porém, existem alguns atributos que estão com seus tipos errados: P. ex., "PREÇO MÉDIO DISTRIBUIÇÃO" deveria ser ```float64``` e não ```object```.<br/>
Nestes casos, muito provavelmente algumas amostras têm um string ao invés de um número para tais atributos. <br/>

Os atributos *"DATA INICIAL"* e *"DATA FINAL"* deveriam ser do tipo `datetime`.

Em outros casos, alguns **atributos categóricos** são ```objects```, mas poderiam ter o tipo ```category```, que é um tipo especial do pandas. <br/>
Este tipo é necessário para se utilizar algumas funções específicas do pandas. <br/>
**Não** converteremos para este tipo por ora.

In [113]:
data_pre = data.copy()

#### **Datas**
Como os atributos de data do dataset já estão em um formato de data aceitável (YYYY-MM-DD), não precisamos forçar nenhuma conversão nesse sentido.

In [114]:
data_pre['DATA INICIAL'] = pd.to_datetime(data_pre['DATA INICIAL'])

In [115]:
data_pre['DATA FINAL'] = pd.to_datetime(data_pre['DATA FINAL'])

In [116]:
data_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 23 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   106823 non-null  datetime64[ns]
 1   DATA FINAL                     106823 non-null  datetime64[ns]
 2   REGIÃO                         106823 non-null  object
 3   ESTADO                         106823 non-null  object
 4   PRODUTO                        106823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 6   UNIDADE DE MEDIDA              106823 non-null  object
 7   PREÇO MÉDIO REVENDA            106823 non-null  float64
 8   DESVIO PADRÃO REVENDA          106823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           106823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 11  MARGEM MÉDIA REVENDA           106823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       106823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     106823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      106823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      106823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  106823 non-null  object
 18  MÊS                            106823 non-null  int64
 19  ANO                            106823 non-null  int64
 20  COLUNA NOVA                    106823 non-null  object
 21  coluna criada com lista        106823 non-null  int64
 22  PRECO MEDIO REVENDA (Dólar)    106823 non-null  float64
dtypes: datetime64[ns](2), float64(6), int64(4), object(11)
memory usage: 18.7+ MB

#### **Dados Numéricos**

In [117]:
# criando uma lista com o nome de todas as colunas que irei fazer a conversão
# e depois passando o valor da lista (nome das colunas) para converter todas de uma vez

In [118]:
for atributo in ['MARGEM MÉDIA REVENDA','PREÇO MÉDIO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO', 'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO']:
    data_pre[atributo] = pd.to_numeric(data_pre[atributo], errors='coerce')
#   converte as colunas com o valor de 'atributo' para numeric e com o parâmetro 'errors' executa uma determinada ...
#   ação em caso de algum erro de conversão, que nesse caso é 'coerce', que basicamente pega um valor que não representa ...
#   um número (string) e converte para um valor vazio (null / nan)

In [119]:
data_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 23 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   106823 non-null  datetime64[ns]
 1   DATA FINAL                     106823 non-null  datetime64[ns]
 2   REGIÃO                         106823 non-null  object
 3   ESTADO                         106823 non-null  object
 4   PRODUTO                        106823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 6   UNIDADE DE MEDIDA              106823 non-null  object
 7   PREÇO MÉDIO REVENDA            106823 non-null  float64
 8   DESVIO PADRÃO REVENDA          106823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           106823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 11  MARGEM MÉDIA REVENDA           103392 non-null  float64
 12  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       103423 non-null  float64
 14  DESVIO PADRÃO DISTRIBUIÇÃO     103423 non-null  float64
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      103423 non-null  float64
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      103423 non-null  float64
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  103423 non-null  float64
 18  MÊS                            106823 non-null  int64
 19  ANO                            106823 non-null  int64
 20  COLUNA NOVA                    106823 non-null  object
 21  coluna criada com lista        106823 non-null  int64
 22  PRECO MEDIO REVENDA (Dólar)    106823 non-null  float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(5)
memory usage: 18.7+ MB

<br/>

Note que temos vários valores ***null*** agora **após a *conversão de tipos***. Vamos checá-los com mais cuidado nos dados originais e preprocessados.

### 2.3 Limpeza de dados

In [120]:
mask = data_pre['PREÇO MÉDIO DISTRIBUIÇÃO'].isnull()
data_pre[mask]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
1903,2005-09-25,2005-10-01,NORTE,PARA,ETANOL HIDRATADO,2,R$/l,1.694,0.283,1.690,...,NaN,NaN,NaN,NaN,NaN,9,2005,Default,1903,9.1476
1958,2005-10-09,2005-10-15,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.000,0.000,2.000,...,NaN,NaN,NaN,NaN,NaN,10,2005,Default,1958,10.8000
2012,2005-10-23,2005-10-29,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.277,0.023,2.250,...,NaN,NaN,NaN,NaN,NaN,10,2005,Default,2012,12.2958
2497,2006-02-26,2006-03-04,NORTE,RORAIMA,ETANOL HIDRATADO,11,R$/l,2.182,0.040,2.100,...,NaN,NaN,NaN,NaN,NaN,2,2006,Default,2497,11.7828
3199,2006-08-27,2006-09-02,NORTE,RORAIMA,ETANOL HIDRATADO,22,R$/l,2.285,0.068,1.980,...,NaN,NaN,NaN,NaN,NaN,8,2006,Default,3199,12.3390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106664,2019-06-16,2019-06-22,SUDESTE,MINAS GERAIS,GNV,5,R$/m3,3.445,0.147,3.347,...,NaN,NaN,NaN,NaN,NaN,6,2019,Default,106664,18.6030
106666,2019-06-16,2019-06-22,SUL,PARANA,GNV,7,R$/m3,3.132,0.295,3.049,...,NaN,NaN,NaN,NaN,NaN,6,2019,Default,106666,16.9128
106811,2019-06-23,2019-06-29,SUDESTE,ESPIRITO SANTO,GNV,4,R$/m3,3.299,0.005,3.290,...,NaN,NaN,NaN,NaN,NaN,6,2019,Default,106811,17.8146
106813,2019-06-23,2019-06-29,SUDESTE,MINAS GERAIS,GNV,6,R$/m3,3.548,0.100,3.495,...,NaN,NaN,NaN,NaN,NaN,6,2019,Default,106813,19.1592
106815,2019-06-23,2019-06-29,SUL,PARANA,GNV,1,R$/m3,3.290,0.000,3.290,...,NaN,NaN,NaN,NaN,NaN,6,2019,Default,106815,17.7660

In [121]:
data[mask]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
1903,2005-09-25,2005-10-01,NORTE,PARA,ETANOL HIDRATADO,2,R$/l,1.694,0.283,1.690,...,-,-,-,-,-,9,2005,Default,1903,9.1476
1958,2005-10-09,2005-10-15,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.000,0.000,2.000,...,-,-,-,-,-,10,2005,Default,1958,10.8000
2012,2005-10-23,2005-10-29,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.277,0.023,2.250,...,-,-,-,-,-,10,2005,Default,2012,12.2958
2497,2006-02-26,2006-03-04,NORTE,RORAIMA,ETANOL HIDRATADO,11,R$/l,2.182,0.040,2.100,...,-,-,-,-,-,2,2006,Default,2497,11.7828
3199,2006-08-27,2006-09-02,NORTE,RORAIMA,ETANOL HIDRATADO,22,R$/l,2.285,0.068,1.980,...,-,-,-,-,-,8,2006,Default,3199,12.3390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106664,2019-06-16,2019-06-22,SUDESTE,MINAS GERAIS,GNV,5,R$/m3,3.445,0.147,3.347,...,-,-,-,-,-,6,2019,Default,106664,18.6030
106666,2019-06-16,2019-06-22,SUL,PARANA,GNV,7,R$/m3,3.132,0.295,3.049,...,-,-,-,-,-,6,2019,Default,106666,16.9128
106811,2019-06-23,2019-06-29,SUDESTE,ESPIRITO SANTO,GNV,4,R$/m3,3.299,0.005,3.290,...,-,-,-,-,-,6,2019,Default,106811,17.8146
106813,2019-06-23,2019-06-29,SUDESTE,MINAS GERAIS,GNV,6,R$/m3,3.548,0.100,3.495,...,-,-,-,-,-,6,2019,Default,106813,19.1592
106815,2019-06-23,2019-06-29,SUL,PARANA,GNV,1,R$/m3,3.290,0.000,3.290,...,-,-,-,-,-,6,2019,Default,106815,17.7660

Várias amostras possuem a _string '-'_ em algumas colunas ao invés de um número de fato. Ou seja, não há aferições destes atributos para estas amostras. <br/>

<br/>

Poderíamos **preencher os valores NaN com um valor padrão**. Para isso, basta usar o método `.fillna`.

In [122]:
# retorna uma copia do dataframe com todos os valores nan de todas as colunas, com valor de '0', conforme o métudo fillna
data_pre_fill = data_pre.fillna(0)
data_pre_fill

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,...,0.825,0.110,0.4201,0.96660,0.133,5,2004,Default,0,6.9552
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,...,0.763,0.088,0.5013,1.05000,0.115,5,2004,Default,1,6.2748
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,...,0.970,0.095,0.5614,1.16100,0.098,5,2004,Default,2,7.5006
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,...,0.830,0.119,0.5991,1.22242,0.143,5,2004,Default,3,6.8148
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,...,0.941,0.077,0.7441,1.03170,0.082,5,2004,Default,4,6.3774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,3.499,...,2.756,0.000,2.7560,2.75600,0.000,6,2019,Default,106818,19.2996
106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,3.230,...,2.451,0.402,1.9842,2.86610,0.164,6,2019,Default,106819,18.3654
106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,2.699,...,1.998,0.000,1.9981,1.99810,0.000,6,2019,Default,106820,15.7248
106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,...,2.374,0.165,2.0179,2.50930,0.070,6,2019,Default,106821,16.3080
106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,3.689,...,2.518,0.000,2.5175,2.51750,0.000,6,2019,Default,106822,19.9638

In [123]:
data_pre_fill[mask]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
1903,2005-09-25,2005-10-01,NORTE,PARA,ETANOL HIDRATADO,2,R$/l,1.694,0.283,1.690,...,0.0,0.0,0.0,0.0,0.0,9,2005,Default,1903,9.1476
1958,2005-10-09,2005-10-15,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.000,0.000,2.000,...,0.0,0.0,0.0,0.0,0.0,10,2005,Default,1958,10.8000
2012,2005-10-23,2005-10-29,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.277,0.023,2.250,...,0.0,0.0,0.0,0.0,0.0,10,2005,Default,2012,12.2958
2497,2006-02-26,2006-03-04,NORTE,RORAIMA,ETANOL HIDRATADO,11,R$/l,2.182,0.040,2.100,...,0.0,0.0,0.0,0.0,0.0,2,2006,Default,2497,11.7828
3199,2006-08-27,2006-09-02,NORTE,RORAIMA,ETANOL HIDRATADO,22,R$/l,2.285,0.068,1.980,...,0.0,0.0,0.0,0.0,0.0,8,2006,Default,3199,12.3390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106664,2019-06-16,2019-06-22,SUDESTE,MINAS GERAIS,GNV,5,R$/m3,3.445,0.147,3.347,...,0.0,0.0,0.0,0.0,0.0,6,2019,Default,106664,18.6030
106666,2019-06-16,2019-06-22,SUL,PARANA,GNV,7,R$/m3,3.132,0.295,3.049,...,0.0,0.0,0.0,0.0,0.0,6,2019,Default,106666,16.9128
106811,2019-06-23,2019-06-29,SUDESTE,ESPIRITO SANTO,GNV,4,R$/m3,3.299,0.005,3.290,...,0.0,0.0,0.0,0.0,0.0,6,2019,Default,106811,17.8146
106813,2019-06-23,2019-06-29,SUDESTE,MINAS GERAIS,GNV,6,R$/m3,3.548,0.100,3.495,...,0.0,0.0,0.0,0.0,0.0,6,2019,Default,106813,19.1592
106815,2019-06-23,2019-06-29,SUL,PARANA,GNV,1,R$/m3,3.290,0.000,3.290,...,0.0,0.0,0.0,0.0,0.0,6,2019,Default,106815,17.7660

<br/>

Por mais que a função `fillna` seja interessante e útil em muitos casos, no problema em questão estamos interessados em analisar precisamente, p. ex., o **'PREÇO MÉDIO DISTRIBUIÇÃO'**.<br/>
A fim de não termos valores _sintéticos_ gerados pelo `fillna`, que possam atrapalhar nossa análise, iremos **remover (drop) todas as amostras que possuem qualquer valor NaN** para quaisquer atributos/colunas. <br/>

Para isso, basta utilizarmos o método `dropna`.

In [124]:
# remove todos os valores Nan que estão contidos no dataframe
data_pre.dropna(inplace=True)

In [125]:
data_pre.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103392 entries, 0 to 106822
Data columns (total 23 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   103392 non-null  datetime64[ns]
 1   DATA FINAL                     103392 non-null  datetime64[ns]
 2   REGIÃO                         103392 non-null  object
 3   ESTADO                         103392 non-null  object
 4   PRODUTO                        103392 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   103392 non-null  int64
 6   UNIDADE DE MEDIDA              103392 non-null  object
 7   PREÇO MÉDIO REVENDA            103392 non-null  float64
 8   DESVIO PADRÃO REVENDA          103392 non-null  float64
 9   PREÇO MÍNIMO REVENDA           103392 non-null  float64
 10  PREÇO MÁXIMO REVENDA           103392 non-null  float64
 11  MARGEM MÉDIA REVENDA           103392 non-null  float64
 12  COEF DE VARIAÇÃO REVENDA       103392 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       103392 non-null  float64
 14  DESVIO PADRÃO DISTRIBUIÇÃO     103392 non-null  float64
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      103392 non-null  float64
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      103392 non-null  float64
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  103392 non-null  float64
 18  MÊS                            103392 non-null  int64
 19  ANO                            103392 non-null  int64
 20  COLUNA NOVA                    103392 non-null  object
 21  coluna criada com lista        103392 non-null  int64
 22  PRECO MEDIO REVENDA (Dólar)    103392 non-null  float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(5)
memory usage: 18.9+ MB

Nosso data frame agora, após essa _limpeza_, ficou mais enxuto, contentdo 103392 registros frente aos 106823 registros originais. <br/>

Essas são apenas algumas das possíveis _técnicas de limpeza de dados_. Outras estratégias, p. ex., **confiam na detecção de outliers**, que não veremos neste curso.

#### **Salvando o Dataset Preprocessado**

In [126]:
data_pre.to_csv('./datasets/GasPricesinBrazil_2004-2019_preprocessado_final.csv', index=False)

<h2>3. Estatísticas Descritivas</h2>
<hr/>

O Pandas fornecem algumas funções/métodos ue computam certas estatísticas descritivas.

`describe`: exibe várias **estatísticas descritivas** para os _atributos_ de um dataframe ou para uma _Series_.

In [127]:
data_final = pd.read_csv('./datasets/GasPricesinBrazil_2004-2019_preprocessado_final.csv')

In [128]:
data_final.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.825,0.110,0.4201,0.9666,0.133,5,2004,Default,0,6.9552
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.763,0.088,0.5013,1.0500,0.115,5,2004,Default,1,6.2748
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.970,0.095,0.5614,1.1610,0.098,5,2004,Default,2,7.5006

<br/>

Como o resultado do `describe` de um _dataframe_ é outro _dataframe_, podemos filtrar apenas algumas colunas.

In [129]:
data_final.describe()

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
count,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000
mean,240.511935,10.784472,0.652589,9.334931,12.458686,2.225151,0.045749,8.559322,0.559441,7.414814,9.805621,0.046640,6.485067,2011.737001,52973.958682,58.236151
std,408.039174,17.685852,1.346422,15.024383,20.801190,4.375085,0.024488,13.603686,1.256914,11.681366,15.933999,0.042114,3.442155,4.410491,30968.261500,95.503599
min,1.000000,0.766000,0.000000,0.590000,0.999000,0.001000,0.000000,0.506000,0.000000,0.325700,0.599200,0.000000,1.000000,2004.000000,0.000000,4.136400
25%,47.000000,2.073000,0.073000,1.900000,2.330000,0.282000,0.030000,1.795000,0.047000,1.674400,1.945600,0.021000,4.000000,2008.000000,25964.750000,11.194200
50%,108.000000,2.723000,0.115000,2.509000,3.000000,0.383000,0.042000,2.335000,0.077000,2.220000,2.507050,0.031000,6.000000,2012.000000,52661.500000,14.704200
75%,251.000000,3.745000,0.190000,3.490000,4.150000,0.560000,0.058000,3.307000,0.151000,3.142800,3.520000,0.061000,9.000000,2016.000000,79918.250000,20.223000
max,4167.000000,99.357000,10.748000,90.000000,120.000000,36.847000,0.262000,83.137000,18.385000,83.000000,94.500000,0.780000,12.000000,2019.000000,106822.000000,536.527800

In [130]:
# para descobrir apenas as estátisticas descritivas de uma coluna em específico

data_final.describe()['PREÇO MÉDIO REVENDA']

count    103392.000000
mean         10.784472
std          17.685852
min           0.766000
25%           2.073000
50%           2.723000
75%           3.745000
max          99.357000
Name: PREÇO MÉDIO REVENDA, dtype: float64

In [131]:
# salvando em um novo dataframe 'stats' com todas as estatísticas produzidas

stats = data_final.describe()

In [132]:
stats.head(4)

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
count,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000
mean,240.511935,10.784472,0.652589,9.334931,12.458686,2.225151,0.045749,8.559322,0.559441,7.414814,9.805621,0.046640,6.485067,2011.737001,52973.958682,58.236151
std,408.039174,17.685852,1.346422,15.024383,20.801190,4.375085,0.024488,13.603686,1.256914,11.681366,15.933999,0.042114,3.442155,4.410491,30968.261500,95.503599
min,1.000000,0.766000,0.000000,0.590000,0.999000,0.001000,0.000000,0.506000,0.000000,0.325700,0.599200,0.000000,1.000000,2004.000000,0.000000,4.136400

In [133]:
# mostrando algumas colunas, fazendo uma lista com os nomes das listas

stats[['PREÇO MÉDIO REVENDA', 'PREÇO MÍNIMO REVENDA', 'PREÇO MÁXIMO REVENDA']]

       PREÇO MÉDIO REVENDA  PREÇO MÍNIMO REVENDA  PREÇO MÁXIMO REVENDA
count        103392.000000         103392.000000         103392.000000
mean             10.784472              9.334931             12.458686
std              17.685852             15.024383             20.801190
min               0.766000              0.590000              0.999000
25%               2.073000              1.900000              2.330000
50%               2.723000              2.509000              3.000000
75%               3.745000              3.490000              4.150000
max              99.357000             90.000000            120.000000

In [134]:
# ou...

nomes = ['PREÇO MÉDIO REVENDA', 'PREÇO MÍNIMO REVENDA', 'PREÇO MÁXIMO REVENDA']
stats[(nomes)]

       PREÇO MÉDIO REVENDA  PREÇO MÍNIMO REVENDA  PREÇO MÁXIMO REVENDA
count        103392.000000         103392.000000         103392.000000
mean             10.784472              9.334931             12.458686
std              17.685852             15.024383             20.801190
min               0.766000              0.590000              0.999000
25%               2.073000              1.900000              2.330000
50%               2.723000              2.509000              3.000000
75%               3.745000              3.490000              4.150000
max              99.357000             90.000000            120.000000

**Acessando apenas algumas estatísticas**

In [135]:
# usando loc para acessar estatísticas de índices rotulados, como: "mean", "min" e "max" da função 'describe()'
# dentro da coluna 'PREÇO MÉDIO REVENDA'

stats.loc[['min', 'max', 'mean'], 'PREÇO MÉDIO REVENDA']

# é necessário usar a função "LOC[]", porque estamos em buscas de índices rotulados e não númericos.

min      0.766000
max     99.357000
mean    10.784472
Name: PREÇO MÉDIO REVENDA, dtype: float64

In [136]:
stats.loc[['min', 'max']]

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
min,1.0,0.766,0.000,0.59,0.999,0.001,0.000,0.506,0.000,0.3257,0.5992,0.00,1.0,2004.0,0.0,4.1364
max,4167.0,99.357,10.748,90.00,120.000,36.847,0.262,83.137,18.385,83.0000,94.5000,0.78,12.0,2019.0,106822.0,536.5278

<br/>

`mean`, `std`, `min`, etc: cada uma das estatísticas do `describe` podem ser computadas individualmente:

In [137]:
data_final.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.825,0.110,0.4201,0.96660,0.133,5,2004,Default,0,6.9552
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.763,0.088,0.5013,1.05000,0.115,5,2004,Default,1,6.2748
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.970,0.095,0.5614,1.16100,0.098,5,2004,Default,2,7.5006
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,...,0.830,0.119,0.5991,1.22242,0.143,5,2004,Default,3,6.8148
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,...,0.941,0.077,0.7441,1.03170,0.082,5,2004,Default,4,6.3774

#### Qual é o menor preço mínimo de revenda?

In [138]:
print(data_final['PREÇO MÍNIMO REVENDA'].min())
print(data_final['PREÇO MÍNIMO REVENDA'].mean())

0.59
9.334930555555555

#### Qual é a média e desvio padrão dos preços mínimos de revenda?

In [139]:
media = data_final['PREÇO MÍNIMO REVENDA'].mean()
dv = data_final['PREÇO MÍNIMO REVENDA'].std()

print(f'Média: {media: .2f}\nDesvio Padrão: {dv: .2f}')

Média:  9.33
Desvio Padrão:  15.02

#### Quais são os estados considerados?

In [140]:
# para saber quais são todos os estados presentes dentro da coluna 'ESTADO', utilizaremos a função
# 'unique()'. Ela retorna todos os valores únicos dentro da coluna, na prática...

data_final['ESTADO'].unique()

array(['DISTRITO FEDERAL', 'GOIAS', 'MATO GROSSO', 'MATO GROSSO DO SUL',
       'ALAGOAS', 'BAHIA', 'CEARA', 'MARANHAO', 'PARAIBA', 'PERNAMBUCO',
       'PIAUI', 'RIO GRANDE DO NORTE', 'SERGIPE', 'ACRE', 'AMAPA',
       'AMAZONAS', 'PARA', 'RONDONIA', 'RORAIMA', 'TOCANTINS',
       'ESPIRITO SANTO', 'MINAS GERAIS', 'RIO DE JANEIRO', 'SAO PAULO',
       'PARANA', 'RIO GRANDE DO SUL', 'SANTA CATARINA'], dtype=object)

In [141]:
# mostrar os valores ordenados através do método 'sorted', o método sorted retorna uma cópia de lista ordenana, e não
# modifica a lista original. Para números, ele organiza do < para o >. Em objects ou strings, ele organiza
# do A-Z, em ordem Alfabética.

sorted(data_final['ESTADO'].unique())

['ACRE',
 'ALAGOAS',
 'AMAPA',
 'AMAZONAS',
 'BAHIA',
 'CEARA',
 'DISTRITO FEDERAL',
 'ESPIRITO SANTO',
 'GOIAS',
 'MARANHAO',
 'MATO GROSSO',
 'MATO GROSSO DO SUL',
 'MINAS GERAIS',
 'PARA',
 'PARAIBA',
 'PARANA',
 'PERNAMBUCO',
 'PIAUI',
 'RIO DE JANEIRO',
 'RIO GRANDE DO NORTE',
 'RIO GRANDE DO SUL',
 'RONDONIA',
 'RORAIMA',
 'SANTA CATARINA',
 'SAO PAULO',
 'SERGIPE',
 'TOCANTINS']

#### Quantos registros (aferições) cada estado possui?

`.value_counts()`:  Conta a frequência dos valores de uma dada variável (de preferência, _categórica_).

In [142]:
data_final['ESTADO'].value_counts() # retorna uma series contendo a frequência dos valores em ordem crescente

BAHIA                  4263
RIO DE JANEIRO         4262
SAO PAULO              4261
RIO GRANDE DO SUL      4249
PARAIBA                4240
PERNAMBUCO             4236
SERGIPE                4202
SANTA CATARINA         4164
MINAS GERAIS           4142
ESPIRITO SANTO         4079
MATO GROSSO DO SUL     4076
ALAGOAS                4020
RIO GRANDE DO NORTE    3999
CEARA                  3964
PARANA                 3902
AMAZONAS               3713
MATO GROSSO            3703
PARA                   3477
MARANHAO               3470
ACRE                   3463
RORAIMA                3457
TOCANTINS              3453
GOIAS                  3449
RONDONIA               3441
PIAUI                  3394
DISTRITO FEDERAL       3317
AMAPA                  2996
Name: ESTADO, dtype: int64

In [143]:
data_final['ESTADO'].value_counts().to_frame() # para transformar essa series em um dataframe

                     ESTADO
BAHIA                  4263
RIO DE JANEIRO         4262
SAO PAULO              4261
RIO GRANDE DO SUL      4249
PARAIBA                4240
PERNAMBUCO             4236
SERGIPE                4202
SANTA CATARINA         4164
MINAS GERAIS           4142
ESPIRITO SANTO         4079
MATO GROSSO DO SUL     4076
ALAGOAS                4020
RIO GRANDE DO NORTE    3999
CEARA                  3964
PARANA                 3902
AMAZONAS               3713
MATO GROSSO            3703
PARA                   3477
MARANHAO               3470
ACRE                   3463
RORAIMA                3457
TOCANTINS              3453
GOIAS                  3449
RONDONIA               3441
PIAUI                  3394
DISTRITO FEDERAL       3317
AMAPA                  2996

<h2>4. Executando funções para cada item de um DataFrame ou Series</h2>
<hr/>

Uma alternativa ao `for-loop` que vimos anteriormente e que é _lento_, é usarmos _funções próprias do pandas_ que **aplicam/mapeiam uma dada função a todos os elementos de um DataFrame ou Series**, retornando novos elementos "transformados".

<img src='./imagens/apply_map_applymap.png' width=300/>


Fonte: https://towardsdatascience.com/introduction-to-pandas-apply-applymap-and-map-5d3e044e93ff

In [144]:
df = pd.DataFrame({ 'A': [1, 2, 3, 4], 
                    'B': [10, 20, 30, 40],
                    'C': [100, 200, 300, 400]}, 
                     index=['Linha 1', 'Linha 2', 'Linha 3', 'Linha 4'])

In [145]:
df

         A   B    C
Linha 1  1  10  100
Linha 2  2  20  200
Linha 3  3  30  300
Linha 4  4  40  400

`apply()`: usado para aplicar uma função ao longo de um eixo de um DataFrame ou em valores de uma Series.

<img src='./imagens/pandas_axis.jpg' width=500/>

Fonte: https://www.allthesnippets.com/browse/pandas/df_axis.html

In [146]:
def nossa_soma(linha):
    return linha.sum() # retornar a soma de todos os valores desta linha

In [147]:
df[f'SOMA (A, B, C)'] = df.apply(nossa_soma, axis=1)

df

         A   B    C  SOMA (A, B, C)
Linha 1  1  10  100             111
Linha 2  2  20  200             222
Linha 3  3  30  300             333
Linha 4  4  40  400             444

<img src='./imagens/apply_axis_1.png' width=250/>

In [148]:
df.loc['Linha 5'] = df.apply(nossa_soma, axis=0)
df

          A    B     C  SOMA (A, B, C)
Linha 1   1   10   100             111
Linha 2   2   20   200             222
Linha 3   3   30   300             333
Linha 4   4   40   400             444
Linha 5  10  100  1000            1110

<img src='./imagens/apply_axis_0.png' width=250/>

##### Usando `lambda` functions

In [149]:
df['MEDIA(A, B, C)']= df[['A', 'B', 'C']].apply(lambda series: series.mean(), axis=1)
df

          A    B     C  SOMA (A, B, C)  MEDIA(A, B, C)
Linha 1   1   10   100             111            37.0
Linha 2   2   20   200             222            74.0
Linha 3   3   30   300             333           111.0
Linha 4   4   40   400             444           148.0
Linha 5  10  100  1000            1110           370.0

<img src='./imagens/apply_axis_1_mean.png' width=350/>

In [150]:
df['C * 2'] = df['C'].apply(lambda x: x * 2)
df

          A    B     C  SOMA (A, B, C)  MEDIA(A, B, C)  C * 2
Linha 1   1   10   100             111            37.0    200
Linha 2   2   20   200             222            74.0    400
Linha 3   3   30   300             333           111.0    600
Linha 4   4   40   400             444           148.0    800
Linha 5  10  100  1000            1110           370.0   2000

In [151]:
df['A * 2'] = df['A'] * 2
df

          A    B     C  SOMA (A, B, C)  MEDIA(A, B, C)  C * 2  A * 2
Linha 1   1   10   100             111            37.0    200      2
Linha 2   2   20   200             222            74.0    400      4
Linha 3   3   30   300             333           111.0    600      6
Linha 4   4   40   400             444           148.0    800      8
Linha 5  10  100  1000            1110           370.0   2000     20

In [152]:
df['A * C / B'] = (df['A'] * df['C'] / df['B'])
df

,A,B,C,"SOMA (A, B, C)","MEDIA(A, B, C)",C * 2,A * 2,A * C / B
Linha 1,1,10,100,111,37.0,200,2,10.0
Linha 2,2,20,200,222,74.0,400,4,20.0
Linha 3,3,30,300,333,111.0,600,6,30.0
Linha 4,4,40,400,444,148.0,800,8,40.0
Linha 5,10,100,1000,1110,370.0,2000,20,100.0

<br/>

`applymap()`: usado para aplicar uma função para **cada elemento** (_element-wise_) de um DataFrame.

In [153]:
df = pd.DataFrame({ 'A': [1, 2, 3, 4], 
                    'B': [10, 20, 30, 40],
                    'C': [100, 200, 300, 400]}, 
                     index=['Linha 1', 'Linha 2', 'Linha 3', 'Linha 4'])
df

         A   B    C
Linha 1  1  10  100
Linha 2  2  20  200
Linha 3  3  30  300
Linha 4  4  40  400

In [154]:
df.applymap(lambda x: x ** 2)

          A     B       C
Linha 1   1   100   10000
Linha 2   4   400   40000
Linha 3   9   900   90000
Linha 4  16  1600  160000

<br/>

`map()`: usado para aplicar uma função para **cada elemento** (_element-wise_) de uma _Series_.

In [155]:
nomes = pd.Series(['Sabrina', 'Marlon', 'Nicolas', 'Eliana'])
nomes

0    Sabrina
1     Marlon
2    Nicolas
3     Eliana
dtype: object

In [156]:
nomes.map(lambda x: x.upper())

0    SABRINA
1     MARLON
2    NICOLAS
3     ELIANA
dtype: object

In [157]:
nomes.str.lower()

0    sabrina
1     marlon
2    nicolas
3     eliana
dtype: object

<h2>5. Agrupamento</h2>
<hr/>

In [158]:
data_final

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,...,0.825,0.110,0.4201,0.96660,0.133,5,2004,Default,0,6.9552
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,...,0.763,0.088,0.5013,1.05000,0.115,5,2004,Default,1,6.2748
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,...,0.970,0.095,0.5614,1.16100,0.098,5,2004,Default,2,7.5006
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,...,0.830,0.119,0.5991,1.22242,0.143,5,2004,Default,3,6.8148
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,...,0.941,0.077,0.7441,1.03170,0.082,5,2004,Default,4,6.3774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103387,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,3.499,...,2.756,0.000,2.7560,2.75600,0.000,6,2019,Default,106818,19.2996
103388,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,3.230,...,2.451,0.402,1.9842,2.86610,0.164,6,2019,Default,106819,18.3654
103389,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,2.699,...,1.998,0.000,1.9981,1.99810,0.000,6,2019,Default,106820,15.7248
103390,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,...,2.374,0.165,2.0179,2.50930,0.070,6,2019,Default,106821,16.3080
103391,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,3.689,...,2.518,0.000,2.5175,2.51750,0.000,6,2019,Default,106822,19.9638

`groupby`: Usado para criar **grupo de elementos** (e.x., baseado nos valores de um atributo). <br/>
**Funções** podem então ser aplicadas para os _elementos de cada grupo_, de modo que os **resultados de cada grupo são combinados**.

In [159]:
grupos = data_final.groupby('REGIÃO')

In [160]:
grupos.get_group('NORDESTE').head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,...,0.941,0.077,0.7441,1.03170,0.082,5,2004,Default,4,6.3774
5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,0.999,...,0.957,0.128,0.5686,1.35000,0.134,5,2004,Default,5,7.4682
6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.030,...,1.100,0.068,0.7332,1.29400,0.062,5,2004,Default,6,7.8462
7,2004-05-09,2004-05-15,NORDESTE,MARANHAO,ETANOL HIDRATADO,105,R$/l,1.631,0.158,1.350,...,1.116,0.091,0.9923,1.36183,0.082,5,2004,Default,7,8.8074
8,2004-05-09,2004-05-15,NORDESTE,PARAIBA,ETANOL HIDRATADO,125,R$/l,1.284,0.130,1.100,...,0.931,0.072,0.7577,1.29720,0.077,5,2004,Default,8,6.9336

In [161]:
grupos.describe()

             NÚMERO DE POSTOS PESQUISADOS                                      \
                                    count        mean         std  min    25%
REGIÃO
CENTRO OESTE                      14545.0  144.898453  105.699340  1.0   80.0
NORDESTE                          35788.0  124.721834  113.110808  1.0   41.0
NORTE                             24000.0   67.835958   52.961342  1.0   31.0
SUDESTE                           16744.0  726.068024  787.588935  1.0  168.0
SUL                               12315.0  366.266423  233.276285  1.0  188.0

                                   PREÇO MÉDIO REVENDA             ...  \
                50%    75%     max               count       mean  ...
REGIÃO                                                             ...
CENTRO OESTE  128.0  192.0   766.0             14545.0  12.299706  ...
NORDESTE       95.0  169.0   625.0             35788.0   9.558746  ...
NORTE          53.0   95.0   383.0             24000.0  12.633086  ...
SUDESTE       412.0  996.0  4167.0             16744.0   9.828218  ...
SUL           368.0  563.0  1416.0             12315.0  10.254388  ...

             coluna criada com lista           PRECO MEDIO REVENDA (Dólar)  \
                                 75%       max                       count
REGIÃO
CENTRO OESTE                 80299.0  106812.0                     14545.0
NORDESTE                     79910.5  106822.0                     35788.0
NORTE                        80343.5  106807.0                     24000.0
SUDESTE                      79401.5  106821.0                     16744.0
SUL                          79332.5  106820.0                     12315.0

                                                                        \
                   mean         std     min      25%      50%      75%
REGIÃO
CENTRO OESTE  66.418415  107.734172  5.9238  11.4156  15.1794  20.8494
NORDESTE      51.617229   86.339781  5.2650  10.6974  14.1696  19.3320
NORTE         68.218665  106.044398  6.6204  12.8628  16.1838  22.8474
SUDESTE       53.072378   87.938713  4.1364  10.1358  13.7889  19.2915
SUL           55.373693   91.280937  4.9788  10.7460  14.0238  19.1862


                   max
REGIÃO
CENTRO OESTE  536.5278
NORDESTE      430.0020
NORTE         471.2580
SUDESTE       427.6368
SUL           389.2752

[5 rows x 128 columns]

In [162]:
grupos.mean()

C:\Users\ADM\AppData\Local\Temp\ipykernel_11772\1316802999.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grupos.mean()

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
REGIÃO,,,,,,,,,,,,,,,,
CENTRO OESTE,144.898453,12.299706,0.695078,10.610077,13.993156,2.438077,0.042077,9.861629,0.692259,8.511186,11.130478,0.039288,6.483396,2011.773599,52794.848127,66.418415
NORDESTE,124.721834,9.558746,0.552230,8.375173,10.788018,2.069198,0.041247,7.489549,0.514093,6.563284,8.461956,0.047887,6.487845,2011.704454,53022.749022,51.617229
NORTE,67.835958,12.633086,0.718957,11.410176,14.448137,2.221746,0.047480,10.411340,0.442566,9.505328,11.314534,0.034485,6.488458,2011.812083,52735.865958,68.218665
SUDESTE,726.068024,9.828218,0.678608,7.966396,11.894671,2.335709,0.055126,7.492509,0.585445,6.000720,9.330476,0.060778,6.481844,2011.707895,53281.350334,53.072378
SUL,366.266423,10.254388,0.729338,8.434376,12.391134,2.283191,0.047045,7.971197,0.726774,6.443075,9.851008,0.056162,6.476736,2011.681608,53089.777913,55.373693

<br/>

Também podemos ter agrupamentos por mais de um atributo.

In [163]:
grupos = data_final.groupby(['REGIÃO', 'PRODUTO'])

In [164]:
grupos.mean()

C:\Users\ADM\AppData\Local\Temp\ipykernel_11772\1316802999.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grupos.mean()

                               NÚMERO DE POSTOS PESQUISADOS  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                    155.514414
             GASOLINA COMUM                      155.447352
             GLP                                 202.113944
             GNV                                   3.759150
             ÓLEO DIESEL                         131.940332
             ÓLEO DIESEL S10                      76.054545
NORDESTE     ETANOL HIDRATADO                    154.143770
             GASOLINA COMUM                      174.051678
             GLP                                 127.294072
             GNV                                  17.498068
             ÓLEO DIESEL                         135.536185
             ÓLEO DIESEL S10                      93.857190
NORTE        ETANOL HIDRATADO                     47.731312
             GASOLINA COMUM                       77.837665
             GLP                                  91.767224
             GNV                                   1.378601
             ÓLEO DIESEL                          68.135956
             ÓLEO DIESEL S10                      40.495267
SUDESTE      ETANOL HIDRATADO                   1038.720115
             GASOLINA COMUM                     1051.909236
             GLP                                 757.155881
             GNV                                  81.839493
             ÓLEO DIESEL                         771.300955
             ÓLEO DIESEL S10                     419.743514
SUL          ETANOL HIDRATADO                    454.889928
             GASOLINA COMUM                      495.972387
             GLP                                 487.431498
             GNV                                  21.242759
             ÓLEO DIESEL                         364.170348
             ÓLEO DIESEL S10                     230.283597

                               PREÇO MÉDIO REVENDA  DESVIO PADRÃO REVENDA  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO             2.135670               0.111992
             GASOLINA COMUM               3.077476               0.104105
             GLP                         48.176747               2.911219
             GNV                          1.856312               0.032635
             ÓLEO DIESEL                  2.481286               0.081540
             ÓLEO DIESEL S10              3.294752               0.108976
NORDESTE     ETANOL HIDRATADO             2.320266               0.115449
             GASOLINA COMUM               3.001887               0.108104
             GLP                         41.966090               2.667713
             GNV                          1.881722               0.061486
             ÓLEO DIESEL                  2.346950               0.069301
             ÓLEO DIESEL S10              3.041966               0.091881
NORTE        ETANOL HIDRATADO             2.511624               0.123097
             GASOLINA COMUM               3.149501               0.140339
             GLP                         47.065572               2.811086
             GNV                          2.084399               0.007749
             ÓLEO DIESEL                  2.571048               0.105590
             ÓLEO DIESEL S10              3.316231               0.127927
SUDESTE      ETANOL HIDRATADO             2.163621               0.134447
             GASOLINA COMUM               3.000565               0.122024
             GLP                         42.081544               3.117192
             GNV                          1.716074               0.130730
             ÓLEO DIESEL                  2.339699               0.082670
             ÓLEO DIESEL S10              3.056194               0.109765
SUL          ETANOL HIDRATADO             2.268156               0.123595
             GASOLINA COMUM               2.972569               0.117779
             GLP                         43.490318               3.408160
             GNV                          1.865612               0.065362
             ÓLEO DIESEL                  2.332293               0.081869
             ÓLEO DIESEL S10              2.981775               0.110249

                               PREÇO MÍNIMO REVENDA  PREÇO MÁXIMO REVENDA  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO              1.926522              2.433303
             GASOLINA COMUM                2.866732              3.338657
             GLP                          40.936969             55.244748
             GNV                           1.824489              1.885087
             ÓLEO DIESEL                   2.310497              2.686205
             ÓLEO DIESEL S10               3.070625              3.559399
NORDESTE     ETANOL HIDRATADO              2.099488              2.654045
             GASOLINA COMUM                2.780405              3.277436
             GLP                          36.142140             47.701105
             GNV                           1.820660              2.038715
             ÓLEO DIESEL                   2.203687              2.534809
             ÓLEO DIESEL S10               2.851121              3.304049
NORTE        ETANOL HIDRATADO              2.331752              2.849155
             GASOLINA COMUM                2.956946              3.540174
             GLP                          42.185523             54.103233
             GNV                           2.079103              2.091321
             ÓLEO DIESEL                   2.400341              2.831189
             ÓLEO DIESEL S10               3.128494              3.645934
SUDESTE      ETANOL HIDRATADO              1.810669              2.629952
             GASOLINA COMUM                2.698406              3.463277
             GLP                          33.297570             51.319812
             GNV                           1.548030              2.123404
             ÓLEO DIESEL                   2.118881              2.659866
             ÓLEO DIESEL S10               2.765417              3.457892
SUL          ETANOL HIDRATADO              1.947168              2.672393
             GASOLINA COMUM                2.677828              3.340463
             GLP                          34.939095             53.352339
             GNV                           1.779690              2.046901
             ÓLEO DIESEL                   2.124973              2.611223
             ÓLEO DIESEL S10               2.707439              3.366409

                               MARGEM MÉDIA REVENDA  COEF DE VARIAÇÃO REVENDA  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO              0.334742                  0.055679
             GASOLINA COMUM                0.413081                  0.033634
             GLP                          10.144382                  0.057783
             GNV                           0.467869                  0.016150
             ÓLEO DIESEL                   0.269293                  0.032117
             ÓLEO DIESEL S10               0.375726                  0.032577
NORDESTE     ETANOL HIDRATADO              0.300006                  0.052053
             GASOLINA COMUM                0.400337                  0.036357
             GLP                           9.951840                  0.060451
             GNV                           0.517594                  0.032138
             ÓLEO DIESEL                   0.233981                  0.029401
             ÓLEO DIESEL S10               0.326030                  0.030066
NORTE        ETANOL HIDRATADO              0.362131                  0.050314
             GASOLINA COMUM                0.454351                  0.045172
             GLP                           8.660637                  0.059383
             GNV                           0.371848                  0.003025
             ÓLEO DIESEL                   0.323795                  0.041224
             ÓLEO DIESEL S10               0.417151                  0.038669
SUDESTE      ETANOL HIDRATADO              0.300850                  0.064111
             GASOLINA COMUM                0.361858                  0.041105
             GLP                          10.952603                  0.070829
             GNV                           0.478567                  0.075199
             ÓLEO DIESEL                   0.261930                  0.034798
             ÓLEO DIESEL S10               0.362285                  0.035397
SUL          ETANOL HIDRATADO              0.316748                  0.055945
             GASOLINA COMUM                0.371459                  0.039308
             GLP                          10.484570                  0.075147
             GNV                           0.478205                  0.032599
             ÓLEO DIESEL                   0.276743                  0.034138
             ÓLEO DIESEL S10               0.368439                  0.036409

                               PREÇO MÉDIO DISTRIBUIÇÃO  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                  1.800927
             GASOLINA COMUM                    2.664395
             GLP                              38.032365
             GNV                               1.388443
             ÓLEO DIESEL                       2.211993
             ÓLEO DIESEL S10                   2.919026
NORDESTE     ETANOL HIDRATADO                  2.020260
             GASOLINA COMUM                    2.601550
             GLP                              32.014250
             GNV                               1.364128
             ÓLEO DIESEL                       2.112969
             ÓLEO DIESEL S10                   2.715936
NORTE        ETANOL HIDRATADO                  2.149494
             GASOLINA COMUM                    2.695151
             GLP                              38.404935
             GNV                               1.712551
             ÓLEO DIESEL                       2.247253
             ÓLEO DIESEL S10                   2.899079
SUDESTE      ETANOL HIDRATADO                  1.862771
             GASOLINA COMUM                    2.638708
             GLP                              31.128941
             GNV                               1.237507
             ÓLEO DIESEL                       2.077769
             ÓLEO DIESEL S10                   2.693909
SUL          ETANOL HIDRATADO                  1.951408
             GASOLINA COMUM                    2.601110
             GLP                              33.005748
             GNV                               1.387408
             ÓLEO DIESEL                       2.055550
             ÓLEO DIESEL S10                   2.613336

                               DESVIO PADRÃO DISTRIBUIÇÃO  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                    0.082278
             GASOLINA COMUM                      0.057165
             GLP                                 3.024617
             GNV                                 0.020891
             ÓLEO DIESEL                         0.049874
             ÓLEO DIESEL S10                     0.073233
NORDESTE     ETANOL HIDRATADO                    0.090895
             GASOLINA COMUM                      0.056139
             GLP                                 2.527986
             GNV                                 0.119690
             ÓLEO DIESEL                         0.048033
             ÓLEO DIESEL S10                     0.065408
NORTE        ETANOL HIDRATADO                    0.094058
             GASOLINA COMUM                      0.067774
             GLP                                 1.734085
             GNV                                 0.012959
             ÓLEO DIESEL                         0.060785
             ÓLEO DIESEL S10                     0.082405
SUDESTE      ETANOL HIDRATADO                    0.107642
             GASOLINA COMUM                      0.066199
             GLP                                 2.741245
             GNV                                 0.136902
             ÓLEO DIESEL                         0.051781
             ÓLEO DIESEL S10                     0.078823
SUL          ETANOL HIDRATADO                    0.112108
             GASOLINA COMUM                      0.064611
             GLP                                 3.461267
             GNV                                 0.113510
             ÓLEO DIESEL                         0.053771
             ÓLEO DIESEL S10                     0.081475

                               PREÇO MÍNIMO DISTRIBUIÇÃO  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                   1.629448
             GASOLINA COMUM                     2.553451
             GLP                               32.142998
             GNV                                1.370323
             ÓLEO DIESEL                        2.106889
             ÓLEO DIESEL S10                    2.779236
NORDESTE     ETANOL HIDRATADO                   1.799990
             GASOLINA COMUM                     2.487578
             GLP                               27.493395
             GNV                                1.215388
             ÓLEO DIESEL                        2.017312
             ÓLEO DIESEL S10                    2.594516
NORTE        ETANOL HIDRATADO                   1.983308
             GASOLINA COMUM                     2.582237
             GLP                               34.773738
             GNV                                1.704218
             ÓLEO DIESEL                        2.135717
             ÓLEO DIESEL S10                    2.764806
SUDESTE      ETANOL HIDRATADO                   1.540547
             GASOLINA COMUM                     2.438181
             GLP                               24.089119
             GNV                                1.054692
             ÓLEO DIESEL                        1.931599
             ÓLEO DIESEL S10                    2.489478
SUL          ETANOL HIDRATADO                   1.634512
             GASOLINA COMUM                     2.432431
             GLP                               25.791680
             GNV                                1.233294
             ÓLEO DIESEL                        1.926497
             ÓLEO DIESEL S10                    2.438362

                               PREÇO MÁXIMO DISTRIBUIÇÃO  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                   2.009326
             GASOLINA COMUM                     2.824949
             GLP                               43.451689
             GNV                                1.407466
             ÓLEO DIESEL                        2.323683
             ÓLEO DIESEL S10                    3.040020
NORDESTE     ETANOL HIDRATADO                   2.229782
             GASOLINA COMUM                     2.764345
             GLP                               36.713845
             GNV                                1.522437
             ÓLEO DIESEL                        2.223088
             ÓLEO DIESEL S10                    2.865362
NORTE        ETANOL HIDRATADO                   2.320192
             GASOLINA COMUM                     2.851914
             GLP                               41.960261
             GNV                                1.724462
             ÓLEO DIESEL                        2.366200
             ÓLEO DIESEL S10                    3.047200
SUDESTE      ETANOL HIDRATADO                   2.179384
             GASOLINA COMUM                     2.882938
             GLP                               39.873958
             GNV                                1.487619
             ÓLEO DIESEL                        2.256056
             ÓLEO DIESEL S10                    2.924680
SUL          ETANOL HIDRATADO                   2.240606
             GASOLINA COMUM                     2.826101
             GLP                               42.029554
             GNV                                1.512227
             ÓLEO DIESEL                        2.207007
             ÓLEO DIESEL S10                    2.814347

                               COEF DE VARIAÇÃO DISTRIBUIÇÃO       MÊS  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                       0.049851  6.507047
             GASOLINA COMUM                         0.021549  6.507658
             GLP                                    0.076607  6.490962
             GNV                                    0.014126  6.408501
             ÓLEO DIESEL                            0.021995  6.507658
             ÓLEO DIESEL S10                        0.024829  6.329752
NORDESTE     ETANOL HIDRATADO                       0.046830  6.505819
             GASOLINA COMUM                         0.021565  6.501062
             GLP                                    0.076961  6.517317
             GNV                                    0.098374  6.490340
             ÓLEO DIESEL                            0.022107  6.501062
             ÓLEO DIESEL S10                        0.024048  6.317942
NORTE        ETANOL HIDRATADO                       0.046450  6.511686
             GASOLINA COMUM                         0.025225  6.500183
             GLP                                    0.044272  6.502722
             GNV                                    0.006025  6.485597
             ÓLEO DIESEL                            0.026873  6.498079
             ÓLEO DIESEL S10                        0.028042  6.354131
SUDESTE      ETANOL HIDRATADO                       0.060287  6.501434
             GASOLINA COMUM                         0.024951  6.500637
             GLP                                    0.087555  6.498566
             GNV                                    0.127156  6.478001
             ÓLEO DIESEL                            0.023954  6.500637
             ÓLEO DIESEL S10                        0.028969  6.318013
SUL          ETANOL HIDRATADO                       0.062075  6.501912
             GASOLINA COMUM                         0.024564  6.501274
             GLP                                    0.102631  6.516005
             GNV                                    0.082502  6.420748
             ÓLEO DIESEL                            0.025223  6.501274
             ÓLEO DIESEL S10                        0.030871  6.318182

                                       ANO  coluna criada com lista  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO  2011.434017             38483.494234
             GASOLINA COMUM    2011.430759             45307.328334
             GLP               2011.428341             52223.154616
             GNV               2010.829988             53688.927981
             ÓLEO DIESEL       2011.430759             63205.485322
             ÓLEO DIESEL S10   2015.970248             82987.259504
NORDESTE     ETANOL HIDRATADO  2011.421516             38298.875958
             GASOLINA COMUM    2011.431262             45299.113408
             GLP               2011.185335             50884.853978
             GNV               2011.103168             55782.423493
             ÓLEO DIESEL       2011.430676             63204.997592
             ÓLEO DIESEL S10   2015.759894             81327.308047
NORTE        ETANOL HIDRATADO  2011.228511             36600.115704
             GASOLINA COMUM    2011.438141             45396.695095
             GLP               2011.399850             52110.264877
             GNV               2012.016461             62756.650206
             ÓLEO DIESEL       2011.441537             63266.472095
             ÓLEO DIESEL S10   2015.786145             81558.487522
SUDESTE      ETANOL HIDRATADO  2011.426522             38356.866752
             GASOLINA COMUM    2011.433121             45323.124841
             GLP               2011.435448             52224.677718
             GNV               2011.001760             55403.984512

In [165]:
grupos['PREÇO MÉDIO REVENDA'].mean()

REGIÃO        PRODUTO
CENTRO OESTE  ETANOL HIDRATADO     2.135670
              GASOLINA COMUM       3.077476
              GLP                 48.176747
              GNV                  1.856312
              ÓLEO DIESEL          2.481286
              ÓLEO DIESEL S10      3.294752
NORDESTE      ETANOL HIDRATADO     2.320266
              GASOLINA COMUM       3.001887
              GLP                 41.966090
              GNV                  1.881722
              ÓLEO DIESEL          2.346950
              ÓLEO DIESEL S10      3.041966
NORTE         ETANOL HIDRATADO     2.511624
              GASOLINA COMUM       3.149501
              GLP                 47.065572
              GNV                  2.084399
              ÓLEO DIESEL          2.571048
              ÓLEO DIESEL S10      3.316231
SUDESTE       ETANOL HIDRATADO     2.163621
              GASOLINA COMUM       3.000565
              GLP                 42.081544
              GNV                  1.716074
              ÓLEO DIESEL          2.339699
              ÓLEO DIESEL S10      3.056194
SUL           ETANOL HIDRATADO     2.268156
              GASOLINA COMUM       2.972569
              GLP                 43.490318
              GNV                  1.865612
              ÓLEO DIESEL          2.332293
              ÓLEO DIESEL S10      2.981775
Name: PREÇO MÉDIO REVENDA, dtype: float64

In [166]:
grupos['PREÇO MÉDIO REVENDA'].describe()

                                count       mean        std     min       25%  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO  3122.0   2.135670   0.561465   1.162   1.71400
             GASOLINA COMUM    3134.0   3.077476   0.615290   1.936   2.66725
             GLP               3098.0  48.176747  15.204045  28.791  37.33300
             GNV                847.0   1.856312   0.423861   1.097   1.56900
             ÓLEO DIESEL       3134.0   2.481286   0.626930   1.435   2.03300
             ÓLEO DIESEL S10   1210.0   3.294752   0.421234   2.305   2.92425
NORDESTE     ETANOL HIDRATADO  7046.0   2.320266   0.604374   1.181   1.82500
             GASOLINA COMUM    7063.0   3.001887   0.640696   1.949   2.58400
             GLP               6410.0  41.966090  12.063743  28.367  33.22875
             GNV               5176.0   1.881722   0.522996   0.975   1.59600
             ÓLEO DIESEL       7061.0   2.346950   0.605705   1.313   1.90000
             ÓLEO DIESEL S10   3032.0   3.041966   0.441550   2.130   2.60000
NORTE        ETANOL HIDRATADO  5177.0   2.511624   0.646781   1.226   2.03300
             GASOLINA COMUM    5464.0   3.149501   0.641249   1.995   2.70475
             GLP               5327.0  47.065572  14.553748  28.086  36.32950
             GNV                243.0   2.084399   0.622229   1.399   1.39900
             ÓLEO DIESEL       5465.0   2.571048   0.650994   1.450   2.08600
             ÓLEO DIESEL S10   2324.0   3.316231   0.529044   2.193   2.88300
SUDESTE      ETANOL HIDRATADO  3137.0   2.163621   0.651486   0.766   1.69200
             GASOLINA COMUM    3140.0   3.000565   0.698573   1.888   2.50200
             GLP               3137.0  42.081544  11.524738  28.026  33.63600
             GNV               2841.0   1.716074   0.462098   0.996   1.42400
             ÓLEO DIESEL       3140.0   2.339699   0.588641   1.356   1.87600
             ÓLEO DIESEL S10   1349.0   3.056194   0.418396   2.180   2.65000
SUL          ETANOL HIDRATADO  2353.0   2.268156   0.702877   0.922   1.72100
             GASOLINA COMUM    2354.0   2.972569   0.623557   1.961   2.54300
             GLP               2343.0  43.490318  11.640755  29.440  34.79250
             GNV               1899.0   1.865612   0.490703   1.168   1.49900
             ÓLEO DIESEL       2354.0   2.332293   0.527845   1.374   1.95100
             ÓLEO DIESEL S10   1012.0   2.981775   0.365470   2.151   2.66300

                                   50%       75%     max
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO   2.0005   2.47900   3.598
             GASOLINA COMUM     2.8565   3.45975   4.963
             GLP               42.8385  55.90425  99.357
             GNV                1.7490   2.16800   3.239
             ÓLEO DIESEL        2.2465   3.01900   4.162
             ÓLEO DIESEL S10    3.3540   3.61900   4.200
NORDESTE     ETANOL HIDRATADO   2.1860   2.67000   3.927
             GASOLINA COMUM     2.7410   3.42450   4.951
             GLP               36.8550  48.35100  79.630
             GNV                1.8005   2.01125   3.811
             ÓLEO DIESEL        2.0820   2.86700   4.010
             ÓLEO DIESEL S10    3.0865   3.33800   4.027
NORTE        ETANOL HIDRATADO   2.3390   2.89600   4.102
             GASOLINA COMUM     2.9330   3.58475   5.362
             GLP               42.3110  54.07500  87.270
             GNV                2.0600   2.65000   3.240
             ÓLEO DIESEL        2.3390   3.08200   4.774
             ÓLEO DIESEL S10    3.3155   3.65300   4.878
SUDESTE      ETANOL HIDRATADO   2.0430   2.56700   4.115
             GASOLINA COMUM     2.7930   3.45150   5.119
             GLP               38.2800  49.25900  79.192
             GNV                1.6630   1.90400   3.399
             ÓLEO DIESEL        2.0825   2.82500   3.994
             ÓLEO DIESEL S10    3.0910   3.38600   4.080
SUL          ETANOL HIDRATADO   2.1130   2.60100   4.287
             GASOLINA COMUM     2.7315   3.34225   4.953
             GLP               39.9760  48.73350  72.088
             GNV                1.7020   2.15950   3.476
             ÓLEO DIESEL        2.0900   2.78450   3.800
             ÓLEO DIESEL S10    2.9910   3.25200   3.815

<br/>

`.agg`: **agrega (roda)** uma série de funções para os elementos de um dataframe ou de grupos de um dataframe.

In [167]:
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9],
                   [None, None, None]],
                  columns=['A', 'B', 'C'])
df

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [168]:
df.agg([sum, min])

        A     B     C
sum  12.0  15.0  18.0
min   1.0   2.0   3.0

In [169]:
grupo = data_final.groupby('REGIÃO')
grupos

In [170]:
grupos['PREÇO MÉDIO REVENDA'].agg([min, max])

                                  min     max
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO   1.162   3.598
             GASOLINA COMUM     1.936   4.963
             GLP               28.791  99.357
             GNV                1.097   3.239
             ÓLEO DIESEL        1.435   4.162
             ÓLEO DIESEL S10    2.305   4.200
NORDESTE     ETANOL HIDRATADO   1.181   3.927
             GASOLINA COMUM     1.949   4.951
             GLP               28.367  79.630
             GNV                0.975   3.811
             ÓLEO DIESEL        1.313   4.010
             ÓLEO DIESEL S10    2.130   4.027
NORTE        ETANOL HIDRATADO   1.226   4.102
             GASOLINA COMUM     1.995   5.362
             GLP               28.086  87.270
             GNV                1.399   3.240
             ÓLEO DIESEL        1.450   4.774
             ÓLEO DIESEL S10    2.193   4.878
SUDESTE      ETANOL HIDRATADO   0.766   4.115
             GASOLINA COMUM     1.888   5.119
             GLP               28.026  79.192
             GNV                0.996   3.399
             ÓLEO DIESEL        1.356   3.994
             ÓLEO DIESEL S10    2.180   4.080
SUL          ETANOL HIDRATADO   0.922   4.287
             GASOLINA COMUM     1.961   4.953
             GLP               29.440  72.088
             GNV                1.168   3.476
             ÓLEO DIESEL        1.374   3.800
             ÓLEO DIESEL S10    2.151   3.815

<h2>6. Ordenação</h2>
<hr/>

In [171]:
notas = pd.DataFrame({
    'nome': ['João', 'Maria', 'José', 'Alice'],
    'idade': [20, 21, 19, 20],
    'nota_final': [5.0, 10.0, 6.0, 10.0]
})
notas

    nome  idade  nota_final
0   João     20         5.0
1  Maria     21        10.0
2   José     19         6.0
3  Alice     20        10.0

`.sort_values()`: ordena valores ao longo de um eixo.

Por padrão, o método retorna uma cópia dos dados ordenados em **ordem crescente (ascendente)**. Podemos alterar isso pelo argumento `ascending`.

In [172]:
notas = notas.sort_values(by='nota_final', ascending=False)
notas = notas.reset_index(drop=True)
notas

    nome  idade  nota_final
0  Maria     21        10.0
1  Alice     20        10.0
2   José     19         6.0
3   João     20         5.0

<br/>

Podemos ordenar a partir de **mais de uma coluna**:

In [173]:
notas = notas.sort_values(by=['nota_final', 'nome'], ascending=[False, True])
notas

    nome  idade  nota_final
1  Alice     20        10.0
0  Maria     21        10.0
2   José     19         6.0
3   João     20         5.0

Ordena os registros, primeiramente, pela coluna 'nota_final' em **ordem descrente**. <br/>
Então, reordena os registros _"empatados"_, ou seja, com a **mesma nota final**, em _ordem alfabética_ (ordem crescente).

<br/>

Note que o dataframe original **não foi alterado** após a ordenação.

Para alterá-lo, use o argumento `inplace=True`:

<h2>7. Exercícios</h2>
<hr/>

Vamos aplicar os conceitos que vimos em alguns exercícios. <br/>
Para isso, utilizaremos o dataset de _preços de combustíveis no Brasil_.

Como há apenas medições de janeiro a junho para o ano de 2019, resolvemos **remover os dados** deste ano da análise.

In [174]:
data_sep = data_final.query('ANO != 2019')
data_sep

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,...,0.825,0.110,0.4201,0.96660,0.133,5,2004,Default,0,6.9552
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,...,0.763,0.088,0.5013,1.05000,0.115,5,2004,Default,1,6.2748
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,...,0.970,0.095,0.5614,1.16100,0.098,5,2004,Default,2,7.5006
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,...,0.830,0.119,0.5991,1.22242,0.143,5,2004,Default,3,6.8148
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,...,0.941,0.077,0.7441,1.03170,0.082,5,2004,Default,4,6.3774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99734,2018-12-30,2019-01-05,SUDESTE,RIO DE JANEIRO,GNV,122,R$/m3,3.080,0.262,2.798,...,2.381,0.161,2.1670,2.86970,0.068,12,2018,Default,103063,16.6320
99735,2018-12-30,2019-01-05,NORDESTE,RIO GRANDE DO NORTE,GNV,10,R$/m3,3.465,0.060,3.370,...,2.706,0.000,2.7059,2.70590,0.000,12,2018,Default,103064,18.7110
99736,2018-12-30,2019-01-05,SUL,RIO GRANDE DO SUL,GNV,16,R$/m3,3.402,0.103,3.199,...,2.106,0.249,1.8775,2.37240,0.118,12,2018,Default,103065,18.3708
99737,2018-12-30,2019-01-05,SUL,SANTA CATARINA,GNV,15,R$/m3,2.944,0.124,2.790,...,2.274,0.283,1.8738,2.27400,0.124,12,2018,Default,103066,15.8976
99738,2018-12-30,2019-01-05,SUDESTE,SAO PAULO,GNV,41,R$/m3,2.353,0.451,1.999,...,1.886,0.250,1.6400,2.33200,0.133,12,2018,Default,103067,12.7062

Note que temos um novo dataframe com 99739 linhas, mas com índices fora desse intervalo. <br/>
Acontece que os registros mantiveram seus índices originais após a query. <br/>

Para resetar os índices de _0 a num_linhas-1_, basta usarmos o método `.reset_index()`.

In [175]:
data_sep.reset_index()

,index,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,0.825,0.110,0.4201,0.96660,0.133,5,2004,Default,0,6.9552
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05000,0.115,5,2004,Default,1,6.2748
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,0.970,0.095,0.5614,1.16100,0.098,5,2004,Default,2,7.5006
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,0.830,0.119,0.5991,1.22242,0.143,5,2004,Default,3,6.8148
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,0.941,0.077,0.7441,1.03170,0.082,5,2004,Default,4,6.3774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99734,99734,2018-12-30,2019-01-05,SUDESTE,RIO DE JANEIRO,GNV,122,R$/m3,3.080,0.262,...,2.381,0.161,2.1670,2.86970,0.068,12,2018,Default,103063,16.6320
99735,99735,2018-12-30,2019-01-05,NORDESTE,RIO GRANDE DO NORTE,GNV,10,R$/m3,3.465,0.060,...,2.706,0.000,2.7059,2.70590,0.000,12,2018,Default,103064,18.7110
99736,99736,2018-12-30,2019-01-05,SUL,RIO GRANDE DO SUL,GNV,16,R$/m3,3.402,0.103,...,2.106,0.249,1.8775,2.37240,0.118,12,2018,Default,103065,18.3708
99737,99737,2018-12-30,2019-01-05,SUL,SANTA CATARINA,GNV,15,R$/m3,2.944,0.124,...,2.274,0.283,1.8738,2.27400,0.124,12,2018,Default,103066,15.8976
99738,99738,2018-12-30,2019-01-05,SUDESTE,SAO PAULO,GNV,41,R$/m3,2.353,0.451,...,1.886,0.250,1.6400,2.33200,0.133,12,2018,Default,103067,12.7062

Os índices agora foram **resetados**. Porém, os índices antigos se transformaram em _uma nova coluna_ chamada 'index'. <br/>
Para removê-la durante o _reset_, basta passarmos o argumento `drop=True`.

In [176]:
data_sep.reset_index(drop=True)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,...,0.825,0.110,0.4201,0.96660,0.133,5,2004,Default,0,6.9552
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,...,0.763,0.088,0.5013,1.05000,0.115,5,2004,Default,1,6.2748
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,...,0.970,0.095,0.5614,1.16100,0.098,5,2004,Default,2,7.5006
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,...,0.830,0.119,0.5991,1.22242,0.143,5,2004,Default,3,6.8148
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,...,0.941,0.077,0.7441,1.03170,0.082,5,2004,Default,4,6.3774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99734,2018-12-30,2019-01-05,SUDESTE,RIO DE JANEIRO,GNV,122,R$/m3,3.080,0.262,2.798,...,2.381,0.161,2.1670,2.86970,0.068,12,2018,Default,103063,16.6320
99735,2018-12-30,2019-01-05,NORDESTE,RIO GRANDE DO NORTE,GNV,10,R$/m3,3.465,0.060,3.370,...,2.706,0.000,2.7059,2.70590,0.000,12,2018,Default,103064,18.7110
99736,2018-12-30,2019-01-05,SUL,RIO GRANDE DO SUL,GNV,16,R$/m3,3.402,0.103,3.199,...,2.106,0.249,1.8775,2.37240,0.118,12,2018,Default,103065,18.3708
99737,2018-12-30,2019-01-05,SUL,SANTA CATARINA,GNV,15,R$/m3,2.944,0.124,2.790,...,2.274,0.283,1.8738,2.27400,0.124,12,2018,Default,103066,15.8976
99738,2018-12-30,2019-01-05,SUDESTE,SAO PAULO,GNV,41,R$/m3,2.353,0.451,1.999,...,1.886,0.250,1.6400,2.33200,0.133,12,2018,Default,103067,12.7062

### 7.1 Qual a proporção de postos pesquisados para cada combustível em cada região

In [177]:
zap = data_final.groupby('REGIÃO')
zap['NÚMERO DE POSTOS PESQUISADOS'].sum()

REGIÃO
CENTRO OESTE     2107548
NORDESTE         4463545
NORTE            1628063
SUDESTE         12157283
SUL              4510571
Name: NÚMERO DE POSTOS PESQUISADOS, dtype: int64

In [178]:
data_final

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,...,0.825,0.110,0.4201,0.96660,0.133,5,2004,Default,0,6.9552
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,...,0.763,0.088,0.5013,1.05000,0.115,5,2004,Default,1,6.2748
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,...,0.970,0.095,0.5614,1.16100,0.098,5,2004,Default,2,7.5006
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,...,0.830,0.119,0.5991,1.22242,0.143,5,2004,Default,3,6.8148
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,...,0.941,0.077,0.7441,1.03170,0.082,5,2004,Default,4,6.3774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103387,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,3.499,...,2.756,0.000,2.7560,2.75600,0.000,6,2019,Default,106818,19.2996
103388,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,3.230,...,2.451,0.402,1.9842,2.86610,0.164,6,2019,Default,106819,18.3654
103389,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,2.699,...,1.998,0.000,1.9981,1.99810,0.000,6,2019,Default,106820,15.7248
103390,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,...,2.374,0.165,2.0179,2.50930,0.070,6,2019,Default,106821,16.3080
103391,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,3.689,...,2.518,0.000,2.5175,2.51750,0.000,6,2019,Default,106822,19.9638

### 7.2 Como os preços da Gasolina Comum em São Paulo variaram em 2018?

In [233]:
data_sep = data_final.query('ANO == 2018')
data_sep = data_sep.query("PRODUTO == 'GASOLINA COMUM'")
data_sep = data_sep.query("ESTADO == 'SAO PAULO'")
data_sep

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
92319,2018-01-07,2018-01-13,SUDESTE,SAO PAULO,GASOLINA COMUM,1641,R$/l,3.988,0.156,3.499,...,3.577,0.104,2.9900,3.9510,0.029,1,2018,Default,95351,21.5352
92465,2018-01-14,2018-01-20,SUDESTE,SAO PAULO,GASOLINA COMUM,1648,R$/l,4.002,0.155,3.549,...,3.590,0.102,2.9900,3.9014,0.028,1,2018,Default,95502,21.6108
92610,2018-01-21,2018-01-27,SUDESTE,SAO PAULO,GASOLINA COMUM,1648,R$/l,4.006,0.160,3.499,...,3.596,0.102,2.9900,3.9014,0.028,1,2018,Default,95654,21.6324
92755,2018-01-28,2018-02-03,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.019,0.156,3.579,...,3.596,0.107,2.9240,3.9537,0.030,1,2018,Default,95806,21.7026
92901,2018-02-04,2018-02-10,SUDESTE,SAO PAULO,GASOLINA COMUM,1646,R$/l,4.004,0.157,3.579,...,3.588,0.102,2.9900,3.9537,0.028,2,2018,Default,95958,21.6216
93048,2018-02-11,2018-02-17,SUDESTE,SAO PAULO,GASOLINA COMUM,1640,R$/l,4.014,0.153,3.499,...,3.570,0.097,2.9900,3.8899,0.027,2,2018,Default,96109,21.6756
93192,2018-02-18,2018-02-24,SUDESTE,SAO PAULO,GASOLINA COMUM,1637,R$/l,4.008,0.161,3.559,...,3.563,0.097,2.9900,3.8910,0.027,2,2018,Default,96259,21.6432
93339,2018-02-25,2018-03-03,SUDESTE,SAO PAULO,GASOLINA COMUM,1638,R$/l,3.992,0.164,3.479,...,3.570,0.106,2.9900,3.9549,0.030,2,2018,Default,96411,21.5568
93487,2018-03-04,2018-03-10,SUDESTE,SAO PAULO,GASOLINA COMUM,1637,R$/l,3.970,0.161,3.479,...,3.583,0.110,2.9900,4.0687,0.031,3,2018,Default,96563,21.4380
93634,2018-03-11,2018-03-17,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.003,0.155,3.499,...,3.593,0.104,2.9900,4.2590,0.029,3,2018,Default,96715,21.6162
93778,2018-03-18,2018-03-24,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,3.988,0.154,3.499,...,3.588,0.108,2.9900,4.2590,0.030,3,2018,Default,96866,21.5352
93924,2018-03-25,2018-03-31,SUDESTE,SAO PAULO,GASOLINA COMUM,1643,R$/l,3.992,0.159,3.499,...,3.624,0.110,3.3200,3.9743,0.030,3,2018,Default,97017,21.5568
94070,2018-04-01,2018-04-07,SUDESTE,SAO PAULO,GASOLINA COMUM,1646,R$/l,4.007,0.171,3.495,...,3.630,0.113,2.9900,3.9682,0.031,4,2018,Default,97168,21.6378
94215,2018-04-08,2018-04-14,SUDESTE,SAO PAULO,GASOLINA COMUM,1646,R$/l,4.008,0.161,3.499,...,3.629,0.102,2.9900,3.9747,0.028,4,2018,Default,97319,21.6432
94361,2018-04-15,2018-04-21,SUDESTE,SAO PAULO,GASOLINA COMUM,1645,R$/l,4.006,0.159,3.499,...,3.632,0.102,2.9900,3.9312,0.028,4,2018,Default,97471,21.6324
94508,2018-04-22,2018-04-28,SUDESTE,SAO PAULO,GASOLINA COMUM,1643,R$/l,4.035,0.168,3.499,...,3.625,0.098,3.0599,4.0060,0.027,4,2018,Default,97622,21.7890
94656,2018-04-29,2018-05-05,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.005,0.158,3.488,...,3.625,0.103,2.9900,4.0060,0.028,4,2018,Default,97773,21.6270
94804,2018-05-06,2018-05-12,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.032,0.171,3.369,...,3.656,0.095,3.2758,3.8875,0.026,5,2018,Default,97924,21.7728
94951,2018-05-13,2018-05-19,SUDESTE,SAO PAULO,GASOLINA COMUM,1643,R$/l,4.056,0.160,3.499,...,3.690,0.107,2.9900,3.9461,0.029,5,2018,Default,98074,21.9024
95098,2018-05-20,2018-05-26,SUDESTE,SAO PAULO,GASOLINA COMUM,1619,R$/l,4.196,0.187,3.499,...,3.793,0.130,2.9900,4.1181,0.034,5,2018,Default,98225,22.6584
95211,2018-05-27,2018-06-02,SUDESTE,SAO PAULO,GASOLINA COMUM,102,R$/l,4.502,0.199,3.898,...,3.862,0.087,3.5800,3.9500,0.023,5,2018,Default,98371,24.3108
95342,2018-06-03,2018-06-09,SUDESTE,SAO PAULO,GASOLINA COMUM,1560,R$/l,4.416,0.155,3.599,...,3.873,0.096,3.3016,4.4394,0.025,6,2018,Default,98517,23.8464
95486,2018-06-10,2018-06-16,SUDESTE,SAO PAULO,GASOLINA COMUM,1616,R$/l,4.349,0.150,3.899,...,3.866,0.090,3.5200,4.4394,0.023,6,2018,Default,98670,23.4846
95633,2018-06-17,2018-06-23,SUDESTE,SAO PAULO,GASOLINA COMUM,1646,R$/l,4.326,0.157,3.799,...,3.849,0.102,3.5403,4.1678,0.027,6,2018,Default,98821,23.3604
95779,2018-06-24,2018-06-30,SUDESTE,SAO PAULO,GASOLINA COMUM,1643,R$/l,4.274,0.167,3.699,...,3.808,0.107,3.5403,4.1786,0.028,6,2018,Default,98972,23.0796
95922,2018-07-01,2018-07-07,SUDESTE,SAO PAULO,GASOLINA COMUM,1637,R$/l,4.272,0.178,3.699,...,3.804,0.110,3.5200,4.1069,0.029,7,2018,Default,99122,23.0688
96069,2018-07-08,2018-07-14,SUDESTE,SAO PAULO,GASOLINA COMUM,1640,R$/l,4.259,0.168,3.779,...,3.837,0.119,2.9900,4.1993,0.031,7,2018,Default,99271,22.9986
96217,2018-07-15,2018-07-21,SUDESTE,SAO PAULO,GASOLINA COMUM,1641,R$/l,4.268,0.171,3.699,...,3.863,0.110,3.5200,4.2560,0.028,7,2018,Default,99422,23.0472
96362,2018-07-22,2018-07-28,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.241,0.175,3.649,...,3.840,0.108,3.5400,4.1596,0.028,7,2018,Default,99573,22.9014
96507,2018-07-29,2018-08-04,SUDESTE,SAO PAULO,GASOLINA COMUM,1639,R$/l,4.235,0.182,3.679,...,3.808,0.107,3.4900,4.0900,0.028,7,2018,Default,99725,22.8690
96651,2018-08-05,2018-08-11,SUDESTE,SAO PAULO,GASOLINA COMUM,1640,R$/l,4.221,0.192,3.679,...,3.797,0.109,3.4900,4.1010,0.029,8,2018,Default,99876,22.7934
96799,2018-08-12,2018-08-18,SUDESTE,SAO PAULO,GASOLINA COMUM,1646,R$/l,4.208,0.189,3.679,...,3.766,0.103,3.5000,4.0380,0.027,8,2018,Default,100027,22.7232
96943,2018-08-19,2018-08-25,SUDESTE,SAO PAULO,GASOLINA COMUM,1643,R$/l,4.189,0.189,3.649,...,3.779,0.105,3.5050,4.0871,0.028,8,2018,Default,100177,22.6206
97086,2018-08-26,2018-09-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1638,R$/l,4.224,0.185,3.679,...,3.840,0.116,3.5300,4.1800,0.030,8,2018,Default,100326,22.8096
97230,2018-09-02,2018-09-08,SUDESTE,SAO PAULO,GASOLINA COMUM,1640,R$/l,4.296,0.189,3.749,...,3.890,0.128,3.5150,4.2094,0.033,9,2018,Default,100477,23.1984
97378,2018-09-09,2018-09-15,SUDESTE,SAO PAULO,GASOLINA COMUM,1641,R$/l,4.409,0.174,3.899,...,3.992,0.120,3.5400,4.3950,0.030,9,2018,Default,100628,23.8086
97527,2018-09-16,2018-09-22,SUDESTE,SAO PAULO,GASOLINA COMUM,1639,R$/l,4.414,0.175,3.875,...,4.021,0.120,3.5400,4.3313,0.030,9,2018,Default,100780,23.8356
97675,2018-09-23,2018-09-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1639,R$/l,4.476,0.172,3.949,...,4.055,0.113,3.6950,4.5510,0.028,9,2018,Default,100930,24.1704
97820,2018-09-30,2018-10-06,SUDESTE,SAO PAULO,GASOLINA COMUM,1639,R$/l,4.469,0.178,3.899,...,4.060,0.116,3.6950,4.4800,0.029,9,2018,Default,101079,24.1326
97965,2018-10-07,2018-10-13,SUDESTE,SAO PAULO,GASOLINA COMUM,1643,R$/l,4.499,0.181,3.899,...,4.085,0.122,3.7600,4.3978,0.030,10,2018,Default,101228,24.2946
98112,2018-10-14,2018-10-20,SUDESTE,SAO PAULO,GASOLINA COMUM,1645,R$/l,4.512,0.180,3.969,...,4.078,0.125,3.5990,4.3900,0.031,10,2018,Default,101378,24.3648
98259,2018-10-21,2018-10-27,SUDESTE,SAO PAULO,GASOLINA COMUM,1641,R$/l,4.506,0.176,3.969,...,4.074,0.112,3.6025,4.4135,0.027,10,2018,Default,101529,24.3324
98401,2018-10-28,2018-11-03,SUDESTE,SAO PAULO,GASOLINA COMUM,1641,R$/l,4.490,0.180,3.899,...,4.028,0.122,3.7300,4.4135,0.030,10,2018,Default,101679,24.2460
98545,2018-11-04,2018-11-10,SUDESTE,SAO PAULO,GASOLINA COMUM,1645,R$/l,4.452,0.190,3.899,...,3.913,0.127,3.5700,4.4990,0.032,11,2018,Default,101828,24.0408
98689,2018-11-11,2018-11-17,SUDESTE,SAO PAULO,GASOLINA COMUM,1643,R$/l,4.377,0.209,3.749,...,3.849,0.144,3.5000,4.4990,0.037,11,2018,Default,101977,23.6358
98831,2018-11-18,2018-11-24,SUDESTE,SAO PAULO,GASOLINA COMUM,1641,R$/l,4.332,0.195,3.879,...,3.747,0.113,3.4600,4.2552,0.030,11,2018,Default,102127,23.3928
98977,2018-11-25,2018-12-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1641,R$/l,4.291,0.216,3.769,...,3.702,0.119,3.3500,4.1213,0.032,11,2018,Default,102276,23.1714
99122,2018-12-02,2018-12-08,SUDESTE,SAO PAULO,GASOLINA COMUM,1648,R$/l,4.187,0.213,3.699,...,3.622,0.117,3.3400,4.0849,0.032,12,2018,Default,102426,22.6098
99266,2018-12-09,2018-12-15,SUDESTE,SAO PAULO,GASOLINA COMUM,1649,R$/l,4.148,0.212,3.669,...,3.615,0.119,3.3400,4.0849,0.033,12,2018,Default,102575,22.3992
99410,2018-12-16,2018-12-22,SUDESTE,SAO PAULO,GASOLINA COMUM,1637,R$/l,4.129,0.201,3.699,...,3.639,0.110,3.3500,3.9892,0.030,12,2018,Default,102724,22.2966
99553,2018-12-23,2018-12-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1641,R$/l,4.129,0.201,3.699,...,3.645,0.107,3.3500,3.9892,0.029,12,2018,Default,102874,22.2966
99698,2018-12-30,2019-01-05,SUDESTE,SAO PAULO,GASOLINA COMUM,1643,R$/l,4.113,0.201,3.599,...,3.610,0.100,3.3500,3.9585,0.028,12,2018,Default,103025,22.2102

#### **Estatísticas Descritivas**

In [234]:
data_sep.describe()

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.00000,52.000000,52.000000,52.000000,52.0,52.000000,52.000000
mean,1610.211538,4.202769,0.175500,3.671500,4.975750,0.442481,0.041750,3.760288,0.109654,3.31295,4.139454,0.029096,6.615385,2018.0,99196.096154,22.694954
std,213.627432,0.180672,0.017955,0.163808,0.211198,0.063271,0.003965,0.163664,0.010712,0.26684,0.195897,0.002460,3.470627,0.0,2279.595314,0.975629
min,102.000000,3.970000,0.150000,3.369000,4.499000,0.366000,0.034000,3.563000,0.087000,2.92400,3.887500,0.023000,1.000000,2018.0,95351.000000,21.438000
25%,1639.000000,4.008000,0.159750,3.499000,4.899000,0.404500,0.039000,3.620250,0.102000,2.99000,3.965775,0.028000,4.000000,2018.0,97281.250000,21.643200
50%,1642.000000,4.202000,0.173000,3.679000,4.999000,0.421500,0.040000,3.756500,0.108000,3.35000,4.095500,0.029000,7.000000,2018.0,99196.500000,22.690800
75%,1644.000000,4.336250,0.189000,3.784000,5.099000,0.470250,0.044000,3.862250,0.116250,3.53250,4.259000,0.030000,9.250000,2018.0,101116.250000,23.415750
max,1649.000000,4.512000,0.216000,3.969000,5.299000,0.640000,0.051000,4.085000,0.144000,3.76000,4.551000,0.037000,12.000000,2018.0,103025.000000,24.364800

### 7.3 Como os preços da Gasolina Comum e do Etanol em São Paulo variaram em 2018?

In [236]:
data_sep = data_final.query("PRODUTO == 'GASOLINA COMUM' | PRODUTO == 'ETANOL HIDRATADO'")
data_sep = data_sep.query("ESTADO == 'SAO PAULO' & ANO == 2018")
data_sep

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,COLUNA NOVA,coluna criada com lista,PRECO MEDIO REVENDA (Dólar)
92238,2018-01-07,2018-01-13,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1664,R$/l,2.833,0.139,2.449,...,2.495,0.092,2.1842,2.8833,0.037,1,2018,Default,95270,15.2982
92319,2018-01-07,2018-01-13,SUDESTE,SAO PAULO,GASOLINA COMUM,1641,R$/l,3.988,0.156,3.499,...,3.577,0.104,2.9900,3.9510,0.029,1,2018,Default,95351,21.5352
92384,2018-01-14,2018-01-20,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1661,R$/l,2.868,0.134,2.399,...,2.537,0.087,2.2600,2.8471,0.034,1,2018,Default,95421,15.4872
92465,2018-01-14,2018-01-20,SUDESTE,SAO PAULO,GASOLINA COMUM,1648,R$/l,4.002,0.155,3.549,...,3.590,0.102,2.9900,3.9014,0.028,1,2018,Default,95502,21.6108
92529,2018-01-21,2018-01-27,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1662,R$/l,2.874,0.135,2.399,...,2.550,0.095,1.6900,2.9722,0.037,1,2018,Default,95573,15.5196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99410,2018-12-16,2018-12-22,SUDESTE,SAO PAULO,GASOLINA COMUM,1637,R$/l,4.129,0.201,3.699,...,3.639,0.110,3.3500,3.9892,0.030,12,2018,Default,102724,22.2966
99472,2018-12-23,2018-12-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1662,R$/l,2.644,0.163,2.149,...,2.339,0.094,2.0067,2.7443,0.040,12,2018,Default,102793,14.2776
99553,2018-12-23,2018-12-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1641,R$/l,4.129,0.201,3.699,...,3.645,0.107,3.3500,3.9892,0.029,12,2018,Default,102874,22.2966
99617,2018-12-30,2019-01-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1661,R$/l,2.643,0.161,2.259,...,2.340,0.097,1.9072,2.7957,0.041,12,2018,Default,102944,14.2722
99698,2018-12-30,2019-01-05,SUDESTE,SAO PAULO,GASOLINA COMUM,1643,R$/l,4.113,0.201,3.599,...,3.610,0.100,3.3500,3.9585,0.028,12,2018,Default,103025,22.2102

<h2>8. Assuntos para continuar os estudos</h2>
<hr/>

- join
- concat
- plot
- data cleaning